<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.ExamClassMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.ExamClass">
		<!--考试ID-->
		<result column="exam_id" property="examId"  />
		<!--班级ID-->
		<result column="class_id" property="classId"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 e.exam_id,e.class_id
	</sql>

	<sql id="base_condition_filed">
			<if test="query.examId != null and query.examId!=''">
				 and  e.exam_id = #{query.examId}
			</if>
			<if test="query.classId != null">
				 and  e.class_id = #{query.classId}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.examIdFuzzy!= null  and query.examIdFuzzy!=''">
				 and  e.exam_id like concat('%', #{query.examIdFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM exam_class e <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM exam_class e <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.ExamClass">
		 INSERT INTO exam_class
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.examId != null">
				 exam_id,
			</if>
			<if test="bean.classId != null">
				 class_id,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.examId!=null">
				 #{bean.examId},
			</if>
			<if test="bean.classId!=null">
				 #{bean.classId},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.ExamClass">
		 INSERT INTO exam_class
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.examId != null">
				 exam_id,
			</if>
			<if test="bean.classId != null">
				 class_id,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.examId!=null">
				 #{bean.examId},
			</if>
			<if test="bean.classId!=null">
				 #{bean.classId},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.examId!=null">
				 exam_id = VALUES(exam_id),
			</if>
			<if test="bean.classId!=null">
				 class_id = VALUES(class_id),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.ExamClass">
		 INSERT INTO exam_class(
			 exam_id,
			 class_id
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.examId},
				 #{item.classId}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.ExamClass">
		 INSERT INTO exam_class(
			 exam_id,
			 class_id
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.examId},
				 #{item.classId}
			 )
		 </foreach>
			on DUPLICATE key update 
			exam_id = VALUES(exam_id),
			class_id = VALUES(class_id)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.ExamClassQuery">
		 UPDATE exam_class e
 		 <set> 
			<if test="bean.examId != null">
				 exam_id = #{bean.examId},
			</if>
			<if test="bean.classId != null">
				 class_id = #{bean.classId},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete e from exam_class e
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ExamIdAndClassId修改-->
	<update id="updateByExamIdAndClassId" parameterType="com.smart.campus.entity.po.ExamClass">
		 UPDATE exam_class
 		 <set> 
 		 </set>
 		 where exam_id=#{examId} and class_id=#{classId}
	</update>

	<!-- 根据ExamIdAndClassId删除-->
	<delete id="deleteByExamIdAndClassId">
		delete from exam_class where exam_id=#{examId} and class_id=#{classId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByExamIdAndClassId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from exam_class e where exam_id=#{examId} and class_id=#{classId}
	</select>

</mapper>