<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.MessageUserMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.MessageUser">
		<!--主键ID-->
		<id column="id" property="id"  />
		<!--消息ID-->
		<result column="message_id" property="messageId"  />
		<!--接收用户ID-->
		<result column="user_id" property="userId"  />
		<!--是否已读: 0否 1是-->
		<result column="read_flag" property="readFlag"  />
		<!--阅读时间-->
		<result column="read_time" property="readTime"  />
		<!--是否删除: 0否 1是-->
		<result column="delete_flag" property="deleteFlag"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 m.id,m.message_id,m.user_id,m.read_flag,m.read_time,
		 m.delete_flag,m.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  m.id = #{query.id}
			</if>
			<if test="query.messageId != null">
				 and  m.message_id = #{query.messageId}
			</if>
			<if test="query.userId != null">
				 and  m.user_id = #{query.userId}
			</if>
			<if test="query.readFlag != null">
				 and  m.read_flag = #{query.readFlag}
			</if>
			<if test="query.readTime != null and query.readTime!=''">
				 <![CDATA[ and  m.read_time=str_to_date(#{query.readTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.deleteFlag != null">
				 and  m.delete_flag = #{query.deleteFlag}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  m.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.readTimeStart!= null and query.readTimeStart!=''">
				 <![CDATA[ and  m.read_time>=str_to_date(#{query.readTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.readTimeEnd!= null and query.readTimeEnd!=''">
				 <![CDATA[ and  m.read_time< date_sub(str_to_date(#{query.readTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  m.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  m.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM message_user m <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM message_user m <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.MessageUser">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO message_user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.messageId != null">
				 message_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.readFlag != null">
				 read_flag,
			</if>
			<if test="bean.readTime != null">
				 read_time,
			</if>
			<if test="bean.deleteFlag != null">
				 delete_flag,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.messageId!=null">
				 #{bean.messageId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.readFlag!=null">
				 #{bean.readFlag},
			</if>
			<if test="bean.readTime!=null">
				 #{bean.readTime},
			</if>
			<if test="bean.deleteFlag!=null">
				 #{bean.deleteFlag},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.MessageUser">
		 INSERT INTO message_user
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.messageId != null">
				 message_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.readFlag != null">
				 read_flag,
			</if>
			<if test="bean.readTime != null">
				 read_time,
			</if>
			<if test="bean.deleteFlag != null">
				 delete_flag,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.messageId!=null">
				 #{bean.messageId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.readFlag!=null">
				 #{bean.readFlag},
			</if>
			<if test="bean.readTime!=null">
				 #{bean.readTime},
			</if>
			<if test="bean.deleteFlag!=null">
				 #{bean.deleteFlag},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.messageId!=null">
				 message_id = VALUES(message_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.readFlag!=null">
				 read_flag = VALUES(read_flag),
			</if>
			<if test="bean.readTime!=null">
				 read_time = VALUES(read_time),
			</if>
			<if test="bean.deleteFlag!=null">
				 delete_flag = VALUES(delete_flag),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.MessageUser" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO message_user(
			 message_id,
			 user_id,
			 read_flag,
			 read_time,
			 delete_flag,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.messageId},
				 #{item.userId},
				 #{item.readFlag},
				 #{item.readTime},
				 #{item.deleteFlag},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.MessageUser">
		 INSERT INTO message_user(
			 message_id,
			 user_id,
			 read_flag,
			 read_time,
			 delete_flag,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.messageId},
				 #{item.userId},
				 #{item.readFlag},
				 #{item.readTime},
				 #{item.deleteFlag},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			message_id = VALUES(message_id),
			user_id = VALUES(user_id),
			read_flag = VALUES(read_flag),
			read_time = VALUES(read_time),
			delete_flag = VALUES(delete_flag),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.MessageUserQuery">
		 UPDATE message_user m
 		 <set> 
			<if test="bean.messageId != null">
				 message_id = #{bean.messageId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.readFlag != null">
				 read_flag = #{bean.readFlag},
			</if>
			<if test="bean.readTime != null">
				 read_time = #{bean.readTime},
			</if>
			<if test="bean.deleteFlag != null">
				 delete_flag = #{bean.deleteFlag},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete m from message_user m
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.MessageUser">
		 UPDATE message_user
 		 <set> 
			<if test="bean.messageId != null">
				 message_id = #{bean.messageId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.readFlag != null">
				 read_flag = #{bean.readFlag},
			</if>
			<if test="bean.readTime != null">
				 read_time = #{bean.readTime},
			</if>
			<if test="bean.deleteFlag != null">
				 delete_flag = #{bean.deleteFlag},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from message_user where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from message_user m where id=#{id}
	</select>

	<!-- 根据MessageIdAndUserId修改-->
	<update id="updateByMessageIdAndUserId" parameterType="com.smart.campus.entity.po.MessageUser">
		 UPDATE message_user
 		 <set> 
			<if test="bean.readFlag != null">
				 read_flag = #{bean.readFlag},
			</if>
			<if test="bean.readTime != null">
				 read_time = #{bean.readTime},
			</if>
			<if test="bean.deleteFlag != null">
				 delete_flag = #{bean.deleteFlag},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where message_id=#{messageId} and user_id=#{userId}
	</update>

	<!-- 根据MessageIdAndUserId删除-->
	<delete id="deleteByMessageIdAndUserId">
		delete from message_user where message_id=#{messageId} and user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByMessageIdAndUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from message_user m where message_id=#{messageId} and user_id=#{userId}
	</select>

</mapper>