<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseStudyLessonProgressMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseStudyLessonProgress">
		<!--主键ID-->
		<id column="id" property="id"  />
		<!--学生ID，对应 user_info.user_id-->
		<result column="user_id" property="userId"  />
		<!--课程ID，对应 course_info.course_id-->
		<result column="course_id" property="courseId"  />
		<!--章节ID，对应 course_chapter.chapter_id-->
		<result column="chapter_id" property="chapterId"  />
		<!--课时ID，对应 course_chapter_lesson.lesson_id-->
		<result column="lesson_id" property="lessonId"  />
		<!--视频资源ID，对应 resource_info.resource_id-->
		<result column="video_resource_id" property="videoResourceId"  />
		<!--累计学习时长，单位秒，重复观看可累计-->
		<result column="study_seconds" property="studySeconds"  />
		<!--上次播放位置，单位秒-->
		<result column="last_position_seconds" property="lastPositionSeconds"  />
		<!--历史最远播放位置，单位秒-->
		<result column="max_position_seconds" property="maxPositionSeconds"  />
		<!--视频总时长，单位秒-->
		<result column="video_duration_seconds" property="videoDurationSeconds"  />
		<!--是否完成: 0否 1是-->
		<result column="is_completed" property="isCompleted"  />
		<!--完成时间-->
		<result column="complete_time" property="completeTime"  />
		<!--最后学习时间-->
		<result column="last_study_time" property="lastStudyTime"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.user_id,c.course_id,c.chapter_id,c.lesson_id,
		 c.video_resource_id,c.study_seconds,c.last_position_seconds,c.max_position_seconds,c.video_duration_seconds,
		 c.is_completed,c.complete_time,c.last_study_time,c.create_time,c.update_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  c.id = #{query.id}
			</if>
			<if test="query.userId != null">
				 and  c.user_id = #{query.userId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  c.chapter_id = #{query.chapterId}
			</if>
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.videoResourceId != null">
				 and  c.video_resource_id = #{query.videoResourceId}
			</if>
			<if test="query.studySeconds != null">
				 and  c.study_seconds = #{query.studySeconds}
			</if>
			<if test="query.lastPositionSeconds != null">
				 and  c.last_position_seconds = #{query.lastPositionSeconds}
			</if>
			<if test="query.maxPositionSeconds != null">
				 and  c.max_position_seconds = #{query.maxPositionSeconds}
			</if>
			<if test="query.videoDurationSeconds != null">
				 and  c.video_duration_seconds = #{query.videoDurationSeconds}
			</if>
			<if test="query.isCompleted != null">
				 and  c.is_completed = #{query.isCompleted}
			</if>
			<if test="query.completeTime != null and query.completeTime!=''">
				 <![CDATA[ and  c.complete_time=str_to_date(#{query.completeTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastStudyTime != null and query.lastStudyTime!=''">
				 <![CDATA[ and  c.last_study_time=str_to_date(#{query.lastStudyTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  c.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  c.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.completeTimeStart!= null and query.completeTimeStart!=''">
				 <![CDATA[ and  c.complete_time>=str_to_date(#{query.completeTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.completeTimeEnd!= null and query.completeTimeEnd!=''">
				 <![CDATA[ and  c.complete_time< date_sub(str_to_date(#{query.completeTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.lastStudyTimeStart!= null and query.lastStudyTimeStart!=''">
				 <![CDATA[ and  c.last_study_time>=str_to_date(#{query.lastStudyTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastStudyTimeEnd!= null and query.lastStudyTimeEnd!=''">
				 <![CDATA[ and  c.last_study_time< date_sub(str_to_date(#{query.lastStudyTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  c.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  c.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_study_lesson_progress c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_study_lesson_progress c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_study_lesson_progress
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.videoResourceId != null">
				 video_resource_id,
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds,
			</if>
			<if test="bean.lastPositionSeconds != null">
				 last_position_seconds,
			</if>
			<if test="bean.maxPositionSeconds != null">
				 max_position_seconds,
			</if>
			<if test="bean.videoDurationSeconds != null">
				 video_duration_seconds,
			</if>
			<if test="bean.isCompleted != null">
				 is_completed,
			</if>
			<if test="bean.completeTime != null">
				 complete_time,
			</if>
			<if test="bean.lastStudyTime != null">
				 last_study_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.videoResourceId!=null">
				 #{bean.videoResourceId},
			</if>
			<if test="bean.studySeconds!=null">
				 #{bean.studySeconds},
			</if>
			<if test="bean.lastPositionSeconds!=null">
				 #{bean.lastPositionSeconds},
			</if>
			<if test="bean.maxPositionSeconds!=null">
				 #{bean.maxPositionSeconds},
			</if>
			<if test="bean.videoDurationSeconds!=null">
				 #{bean.videoDurationSeconds},
			</if>
			<if test="bean.isCompleted!=null">
				 #{bean.isCompleted},
			</if>
			<if test="bean.completeTime!=null">
				 #{bean.completeTime},
			</if>
			<if test="bean.lastStudyTime!=null">
				 #{bean.lastStudyTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress">
		 INSERT INTO course_study_lesson_progress
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.videoResourceId != null">
				 video_resource_id,
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds,
			</if>
			<if test="bean.lastPositionSeconds != null">
				 last_position_seconds,
			</if>
			<if test="bean.maxPositionSeconds != null">
				 max_position_seconds,
			</if>
			<if test="bean.videoDurationSeconds != null">
				 video_duration_seconds,
			</if>
			<if test="bean.isCompleted != null">
				 is_completed,
			</if>
			<if test="bean.completeTime != null">
				 complete_time,
			</if>
			<if test="bean.lastStudyTime != null">
				 last_study_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.videoResourceId!=null">
				 #{bean.videoResourceId},
			</if>
			<if test="bean.studySeconds!=null">
				 #{bean.studySeconds},
			</if>
			<if test="bean.lastPositionSeconds!=null">
				 #{bean.lastPositionSeconds},
			</if>
			<if test="bean.maxPositionSeconds!=null">
				 #{bean.maxPositionSeconds},
			</if>
			<if test="bean.videoDurationSeconds!=null">
				 #{bean.videoDurationSeconds},
			</if>
			<if test="bean.isCompleted!=null">
				 #{bean.isCompleted},
			</if>
			<if test="bean.completeTime!=null">
				 #{bean.completeTime},
			</if>
			<if test="bean.lastStudyTime!=null">
				 #{bean.lastStudyTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.videoResourceId!=null">
				 video_resource_id = VALUES(video_resource_id),
			</if>
			<if test="bean.studySeconds!=null">
				 study_seconds = VALUES(study_seconds),
			</if>
			<if test="bean.lastPositionSeconds!=null">
				 last_position_seconds = VALUES(last_position_seconds),
			</if>
			<if test="bean.maxPositionSeconds!=null">
				 max_position_seconds = VALUES(max_position_seconds),
			</if>
			<if test="bean.videoDurationSeconds!=null">
				 video_duration_seconds = VALUES(video_duration_seconds),
			</if>
			<if test="bean.isCompleted!=null">
				 is_completed = VALUES(is_completed),
			</if>
			<if test="bean.completeTime!=null">
				 complete_time = VALUES(complete_time),
			</if>
			<if test="bean.lastStudyTime!=null">
				 last_study_time = VALUES(last_study_time),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO course_study_lesson_progress(
			 user_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 video_resource_id,
			 study_seconds,
			 last_position_seconds,
			 max_position_seconds,
			 video_duration_seconds,
			 is_completed,
			 complete_time,
			 last_study_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.videoResourceId},
				 #{item.studySeconds},
				 #{item.lastPositionSeconds},
				 #{item.maxPositionSeconds},
				 #{item.videoDurationSeconds},
				 #{item.isCompleted},
				 #{item.completeTime},
				 #{item.lastStudyTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress">
		 INSERT INTO course_study_lesson_progress(
			 user_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 video_resource_id,
			 study_seconds,
			 last_position_seconds,
			 max_position_seconds,
			 video_duration_seconds,
			 is_completed,
			 complete_time,
			 last_study_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.videoResourceId},
				 #{item.studySeconds},
				 #{item.lastPositionSeconds},
				 #{item.maxPositionSeconds},
				 #{item.videoDurationSeconds},
				 #{item.isCompleted},
				 #{item.completeTime},
				 #{item.lastStudyTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			course_id = VALUES(course_id),
			chapter_id = VALUES(chapter_id),
			lesson_id = VALUES(lesson_id),
			video_resource_id = VALUES(video_resource_id),
			study_seconds = VALUES(study_seconds),
			last_position_seconds = VALUES(last_position_seconds),
			max_position_seconds = VALUES(max_position_seconds),
			video_duration_seconds = VALUES(video_duration_seconds),
			is_completed = VALUES(is_completed),
			complete_time = VALUES(complete_time),
			last_study_time = VALUES(last_study_time),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseStudyLessonProgressQuery">
		 UPDATE course_study_lesson_progress c
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.videoResourceId != null">
				 video_resource_id = #{bean.videoResourceId},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.lastPositionSeconds != null">
				 last_position_seconds = #{bean.lastPositionSeconds},
			</if>
			<if test="bean.maxPositionSeconds != null">
				 max_position_seconds = #{bean.maxPositionSeconds},
			</if>
			<if test="bean.videoDurationSeconds != null">
				 video_duration_seconds = #{bean.videoDurationSeconds},
			</if>
			<if test="bean.isCompleted != null">
				 is_completed = #{bean.isCompleted},
			</if>
			<if test="bean.completeTime != null">
				 complete_time = #{bean.completeTime},
			</if>
			<if test="bean.lastStudyTime != null">
				 last_study_time = #{bean.lastStudyTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_study_lesson_progress c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress">
		 UPDATE course_study_lesson_progress
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.videoResourceId != null">
				 video_resource_id = #{bean.videoResourceId},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.lastPositionSeconds != null">
				 last_position_seconds = #{bean.lastPositionSeconds},
			</if>
			<if test="bean.maxPositionSeconds != null">
				 max_position_seconds = #{bean.maxPositionSeconds},
			</if>
			<if test="bean.videoDurationSeconds != null">
				 video_duration_seconds = #{bean.videoDurationSeconds},
			</if>
			<if test="bean.isCompleted != null">
				 is_completed = #{bean.isCompleted},
			</if>
			<if test="bean.completeTime != null">
				 complete_time = #{bean.completeTime},
			</if>
			<if test="bean.lastStudyTime != null">
				 last_study_time = #{bean.lastStudyTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_study_lesson_progress where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_lesson_progress c where id=#{id}
	</select>

	<!-- 根据UserIdAndLessonId修改-->
	<update id="updateByUserIdAndLessonId" parameterType="com.smart.campus.entity.po.CourseStudyLessonProgress">
		 UPDATE course_study_lesson_progress
 		 <set> 
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.videoResourceId != null">
				 video_resource_id = #{bean.videoResourceId},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.lastPositionSeconds != null">
				 last_position_seconds = #{bean.lastPositionSeconds},
			</if>
			<if test="bean.maxPositionSeconds != null">
				 max_position_seconds = #{bean.maxPositionSeconds},
			</if>
			<if test="bean.videoDurationSeconds != null">
				 video_duration_seconds = #{bean.videoDurationSeconds},
			</if>
			<if test="bean.isCompleted != null">
				 is_completed = #{bean.isCompleted},
			</if>
			<if test="bean.completeTime != null">
				 complete_time = #{bean.completeTime},
			</if>
			<if test="bean.lastStudyTime != null">
				 last_study_time = #{bean.lastStudyTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where user_id=#{userId} and lesson_id=#{lessonId}
	</update>

	<!-- 根据UserIdAndLessonId删除-->
	<delete id="deleteByUserIdAndLessonId">
		delete from course_study_lesson_progress where user_id=#{userId} and lesson_id=#{lessonId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserIdAndLessonId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_lesson_progress c where user_id=#{userId} and lesson_id=#{lessonId}
	</select>

</mapper>