<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseAssessmentSubmitQuestionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		<!--主键ID-->
		<id column="id" property="id"  />
		<!--提交ID，对应 course_assessment_submit.submit_id-->
		<result column="submit_id" property="submitId"  />
		<!--任务ID，对应 course_assessment_task.task_id-->
		<result column="task_id" property="taskId"  />
		<!--试卷题目编排ID，对应 paper_info.paper_id-->
		<result column="paper_id" property="paperId"  />
		<!--题目ID，对应 question_info.question_id-->
		<result column="question_id" property="questionId"  />
		<!--学生答案，建议存JSON-->
		<result column="answer_content" property="answerContent"  />
		<!--最终得分-->
		<result column="final_score" property="finalScore"  />
		<!--判题状态: 0未判 1自动判分完成 2待人工批改 3人工批改完成-->
		<result column="judge_status" property="judgeStatus"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.submit_id,c.task_id,c.paper_id,c.question_id,
		 c.answer_content,c.final_score,c.judge_status
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  c.id = #{query.id}
			</if>
			<if test="query.submitId != null">
				 and  c.submit_id = #{query.submitId}
			</if>
			<if test="query.taskId != null">
				 and  c.task_id = #{query.taskId}
			</if>
			<if test="query.paperId != null">
				 and  c.paper_id = #{query.paperId}
			</if>
			<if test="query.questionId != null">
				 and  c.question_id = #{query.questionId}
			</if>
			<if test="query.answerContent != null and query.answerContent!=''">
				 and  c.answer_content = #{query.answerContent}
			</if>
			<if test="query.finalScore != null">
				 and  c.final_score = #{query.finalScore}
			</if>
			<if test="query.judgeStatus != null">
				 and  c.judge_status = #{query.judgeStatus}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.answerContentFuzzy!= null  and query.answerContentFuzzy!=''">
				 and  c.answer_content like concat('%', #{query.answerContentFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_assessment_submit_question c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_assessment_submit_question c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_assessment_submit_question
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.submitId != null">
				 submit_id,
			</if>
			<if test="bean.taskId != null">
				 task_id,
			</if>
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.answerContent != null">
				 answer_content,
			</if>
			<if test="bean.finalScore != null">
				 final_score,
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.submitId!=null">
				 #{bean.submitId},
			</if>
			<if test="bean.taskId!=null">
				 #{bean.taskId},
			</if>
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.answerContent!=null">
				 #{bean.answerContent},
			</if>
			<if test="bean.finalScore!=null">
				 #{bean.finalScore},
			</if>
			<if test="bean.judgeStatus!=null">
				 #{bean.judgeStatus},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		 INSERT INTO course_assessment_submit_question
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.submitId != null">
				 submit_id,
			</if>
			<if test="bean.taskId != null">
				 task_id,
			</if>
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.answerContent != null">
				 answer_content,
			</if>
			<if test="bean.finalScore != null">
				 final_score,
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.submitId!=null">
				 #{bean.submitId},
			</if>
			<if test="bean.taskId!=null">
				 #{bean.taskId},
			</if>
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.answerContent!=null">
				 #{bean.answerContent},
			</if>
			<if test="bean.finalScore!=null">
				 #{bean.finalScore},
			</if>
			<if test="bean.judgeStatus!=null">
				 #{bean.judgeStatus},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.submitId!=null">
				 submit_id = VALUES(submit_id),
			</if>
			<if test="bean.taskId!=null">
				 task_id = VALUES(task_id),
			</if>
			<if test="bean.paperId!=null">
				 paper_id = VALUES(paper_id),
			</if>
			<if test="bean.questionId!=null">
				 question_id = VALUES(question_id),
			</if>
			<if test="bean.answerContent!=null">
				 answer_content = VALUES(answer_content),
			</if>
			<if test="bean.finalScore!=null">
				 final_score = VALUES(final_score),
			</if>
			<if test="bean.judgeStatus!=null">
				 judge_status = VALUES(judge_status),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO course_assessment_submit_question(
			 submit_id,
			 task_id,
			 paper_id,
			 question_id,
			 answer_content,
			 final_score,
			 judge_status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.submitId},
				 #{item.taskId},
				 #{item.paperId},
				 #{item.questionId},
				 #{item.answerContent},
				 #{item.finalScore},
				 #{item.judgeStatus}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		 INSERT INTO course_assessment_submit_question(
			 submit_id,
			 task_id,
			 paper_id,
			 question_id,
			 answer_content,
			 final_score,
			 judge_status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.submitId},
				 #{item.taskId},
				 #{item.paperId},
				 #{item.questionId},
				 #{item.answerContent},
				 #{item.finalScore},
				 #{item.judgeStatus}
			 )
		 </foreach>
			on DUPLICATE key update 
			submit_id = VALUES(submit_id),
			task_id = VALUES(task_id),
			paper_id = VALUES(paper_id),
			question_id = VALUES(question_id),
			answer_content = VALUES(answer_content),
			final_score = VALUES(final_score),
			judge_status = VALUES(judge_status)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseAssessmentSubmitQuestionQuery">
		 UPDATE course_assessment_submit_question c
 		 <set> 
			<if test="bean.submitId != null">
				 submit_id = #{bean.submitId},
			</if>
			<if test="bean.taskId != null">
				 task_id = #{bean.taskId},
			</if>
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.answerContent != null">
				 answer_content = #{bean.answerContent},
			</if>
			<if test="bean.finalScore != null">
				 final_score = #{bean.finalScore},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_assessment_submit_question c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		 UPDATE course_assessment_submit_question
 		 <set> 
			<if test="bean.submitId != null">
				 submit_id = #{bean.submitId},
			</if>
			<if test="bean.taskId != null">
				 task_id = #{bean.taskId},
			</if>
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.answerContent != null">
				 answer_content = #{bean.answerContent},
			</if>
			<if test="bean.finalScore != null">
				 final_score = #{bean.finalScore},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_assessment_submit_question where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_assessment_submit_question c where id=#{id}
	</select>

	<!-- 根据SubmitIdAndQuestionId修改-->
	<update id="updateBySubmitIdAndQuestionId" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmitQuestion">
		 UPDATE course_assessment_submit_question
 		 <set> 
			<if test="bean.taskId != null">
				 task_id = #{bean.taskId},
			</if>
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.answerContent != null">
				 answer_content = #{bean.answerContent},
			</if>
			<if test="bean.finalScore != null">
				 final_score = #{bean.finalScore},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
 		 </set>
 		 where submit_id=#{submitId} and question_id=#{questionId}
	</update>

	<!-- 根据SubmitIdAndQuestionId删除-->
	<delete id="deleteBySubmitIdAndQuestionId">
		delete from course_assessment_submit_question where submit_id=#{submitId} and question_id=#{questionId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectBySubmitIdAndQuestionId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_assessment_submit_question c where submit_id=#{submitId} and question_id=#{questionId}
	</select>

</mapper>