<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseAssessmentSubmitMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseAssessmentSubmit">
		<!--主键ID-->
		<id column="submit_id" property="submitId"  />
		<!--任务ID，对应course_chapter_lesson.lesson_id或者考试ID-->
		<result column="task_id" property="taskId"  />
		<!--任务类型快照: 1作业 2考试-->
		<result column="task_type" property="taskType"  />
		<!--试卷ID-->
		<result column="paper_id" property="paperId"  />
		<!--学生ID，对应 user_info.user_id-->
		<result column="user_id" property="userId"  />
		<!--提交状态:0待开始 1作答中 2草稿 3已提交-->
		<result column="submit_status" property="submitStatus"  />
		<!--批改状态: 0未批改 1自动判分完成 2待人工批改 3人工批改完成-->
		<result column="judge_status" property="judgeStatus"  />
		<!--开始作答时间-->
		<result column="started_time" property="startedTime"  />
		<!--提交时间-->
		<result column="submit_time" property="submitTime"  />
		<!--强制交卷时间，如超时系统自动提交-->
		<result column="forced_submit_time" property="forcedSubmitTime"  />
		<!--本次作答耗时，单位秒-->
		<result column="used_seconds" property="usedSeconds"  />
		<!--客观题得分-->
		<result column="objective_score" property="objectiveScore"  />
		<!--主观题得分-->
		<result column="subjective_score" property="subjectiveScore"  />
		<!--整卷提交补充内容，建议存JSON，如总体说明、附件等-->
		<result column="submit_content" property="submitContent"  />
		<!--教师评语-->
		<result column="teacher_comment" property="teacherComment"  />
		<!--批改完成时间-->
		<result column="judge_time" property="judgeTime"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.submit_id,c.task_id,c.task_type,c.paper_id,c.user_id,
		 c.submit_status,c.judge_status,c.started_time,c.submit_time,c.forced_submit_time,
		 c.used_seconds,c.objective_score,c.subjective_score,c.submit_content,c.teacher_comment,
		 c.judge_time,c.create_time,c.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.submitId != null">
				 and  c.submit_id = #{query.submitId}
			</if>
			<if test="query.taskId != null and query.taskId!=''">
				 and  c.task_id = #{query.taskId}
			</if>
			<if test="query.taskType != null">
				 and  c.task_type = #{query.taskType}
			</if>
			<if test="query.paperId != null and query.paperId!=''">
				 and  c.paper_id = #{query.paperId}
			</if>
			<if test="query.userId != null">
				 and  c.user_id = #{query.userId}
			</if>
			<if test="query.submitStatus != null">
				 and  c.submit_status = #{query.submitStatus}
			</if>
			<if test="query.judgeStatus != null">
				 and  c.judge_status = #{query.judgeStatus}
			</if>
			<if test="query.startedTime != null and query.startedTime!=''">
				 <![CDATA[ and  c.started_time=str_to_date(#{query.startedTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.submitTime != null and query.submitTime!=''">
				 <![CDATA[ and  c.submit_time=str_to_date(#{query.submitTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.forcedSubmitTime != null and query.forcedSubmitTime!=''">
				 <![CDATA[ and  c.forced_submit_time=str_to_date(#{query.forcedSubmitTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.usedSeconds != null">
				 and  c.used_seconds = #{query.usedSeconds}
			</if>
			<if test="query.objectiveScore != null">
				 and  c.objective_score = #{query.objectiveScore}
			</if>
			<if test="query.subjectiveScore != null">
				 and  c.subjective_score = #{query.subjectiveScore}
			</if>
			<if test="query.submitContent != null and query.submitContent!=''">
				 and  c.submit_content = #{query.submitContent}
			</if>
			<if test="query.teacherComment != null and query.teacherComment!=''">
				 and  c.teacher_comment = #{query.teacherComment}
			</if>
			<if test="query.judgeTime != null and query.judgeTime!=''">
				 <![CDATA[ and  c.judge_time=str_to_date(#{query.judgeTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  c.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.taskIdFuzzy!= null  and query.taskIdFuzzy!=''">
				 and  c.task_id like concat('%', #{query.taskIdFuzzy}, '%')
			</if>
			<if test="query.paperIdFuzzy!= null  and query.paperIdFuzzy!=''">
				 and  c.paper_id like concat('%', #{query.paperIdFuzzy}, '%')
			</if>
			<if test="query.startedTimeStart!= null and query.startedTimeStart!=''">
				 <![CDATA[ and  c.started_time>=str_to_date(#{query.startedTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.startedTimeEnd!= null and query.startedTimeEnd!=''">
				 <![CDATA[ and  c.started_time< date_sub(str_to_date(#{query.startedTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.submitTimeStart!= null and query.submitTimeStart!=''">
				 <![CDATA[ and  c.submit_time>=str_to_date(#{query.submitTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.submitTimeEnd!= null and query.submitTimeEnd!=''">
				 <![CDATA[ and  c.submit_time< date_sub(str_to_date(#{query.submitTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.forcedSubmitTimeStart!= null and query.forcedSubmitTimeStart!=''">
				 <![CDATA[ and  c.forced_submit_time>=str_to_date(#{query.forcedSubmitTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.forcedSubmitTimeEnd!= null and query.forcedSubmitTimeEnd!=''">
				 <![CDATA[ and  c.forced_submit_time< date_sub(str_to_date(#{query.forcedSubmitTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.submitContentFuzzy!= null  and query.submitContentFuzzy!=''">
				 and  c.submit_content like concat('%', #{query.submitContentFuzzy}, '%')
			</if>
			<if test="query.teacherCommentFuzzy!= null  and query.teacherCommentFuzzy!=''">
				 and  c.teacher_comment like concat('%', #{query.teacherCommentFuzzy}, '%')
			</if>
			<if test="query.judgeTimeStart!= null and query.judgeTimeStart!=''">
				 <![CDATA[ and  c.judge_time>=str_to_date(#{query.judgeTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.judgeTimeEnd!= null and query.judgeTimeEnd!=''">
				 <![CDATA[ and  c.judge_time< date_sub(str_to_date(#{query.judgeTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  c.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  c.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_assessment_submit c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_assessment_submit c <include refid="query_condition" />
	</select>

	<select id="selectByTaskIdListAndUserIdList" resultMap="base_result_map">
		 SELECT <include refid="base_column_list" />
		 FROM course_assessment_submit c
		 <where>
			 <if test="taskType != null">
				 and c.task_type = #{taskType}
			 </if>
			 <if test="taskIdList != null and taskIdList.size() > 0">
				 and c.task_id in
				 <foreach collection="taskIdList" item="taskId" open="(" separator="," close=")">
					 #{taskId}
				 </foreach>
			 </if>
			 <if test="userIdList != null and userIdList.size() > 0">
				 and c.user_id in
				 <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
					 #{userId}
				 </foreach>
			 </if>
		 </where>
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit">
		<selectKey keyProperty="bean.submitId" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_assessment_submit
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.taskId != null">
				 task_id,
			</if>
			<if test="bean.taskType != null">
				 task_type,
			</if>
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.submitStatus != null">
				 submit_status,
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status,
			</if>
			<if test="bean.startedTime != null">
				 started_time,
			</if>
			<if test="bean.submitTime != null">
				 submit_time,
			</if>
			<if test="bean.forcedSubmitTime != null">
				 forced_submit_time,
			</if>
			<if test="bean.usedSeconds != null">
				 used_seconds,
			</if>
			<if test="bean.objectiveScore != null">
				 objective_score,
			</if>
			<if test="bean.subjectiveScore != null">
				 subjective_score,
			</if>
			<if test="bean.submitContent != null">
				 submit_content,
			</if>
			<if test="bean.teacherComment != null">
				 teacher_comment,
			</if>
			<if test="bean.judgeTime != null">
				 judge_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.taskId!=null">
				 #{bean.taskId},
			</if>
			<if test="bean.taskType!=null">
				 #{bean.taskType},
			</if>
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.submitStatus!=null">
				 #{bean.submitStatus},
			</if>
			<if test="bean.judgeStatus!=null">
				 #{bean.judgeStatus},
			</if>
			<if test="bean.startedTime!=null">
				 #{bean.startedTime},
			</if>
			<if test="bean.submitTime!=null">
				 #{bean.submitTime},
			</if>
			<if test="bean.forcedSubmitTime!=null">
				 #{bean.forcedSubmitTime},
			</if>
			<if test="bean.usedSeconds!=null">
				 #{bean.usedSeconds},
			</if>
			<if test="bean.objectiveScore!=null">
				 #{bean.objectiveScore},
			</if>
			<if test="bean.subjectiveScore!=null">
				 #{bean.subjectiveScore},
			</if>
			<if test="bean.submitContent!=null">
				 #{bean.submitContent},
			</if>
			<if test="bean.teacherComment!=null">
				 #{bean.teacherComment},
			</if>
			<if test="bean.judgeTime!=null">
				 #{bean.judgeTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit">
		 INSERT INTO course_assessment_submit
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.submitId != null">
				 submit_id,
			</if>
			<if test="bean.taskId != null">
				 task_id,
			</if>
			<if test="bean.taskType != null">
				 task_type,
			</if>
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.submitStatus != null">
				 submit_status,
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status,
			</if>
			<if test="bean.startedTime != null">
				 started_time,
			</if>
			<if test="bean.submitTime != null">
				 submit_time,
			</if>
			<if test="bean.forcedSubmitTime != null">
				 forced_submit_time,
			</if>
			<if test="bean.usedSeconds != null">
				 used_seconds,
			</if>
			<if test="bean.objectiveScore != null">
				 objective_score,
			</if>
			<if test="bean.subjectiveScore != null">
				 subjective_score,
			</if>
			<if test="bean.submitContent != null">
				 submit_content,
			</if>
			<if test="bean.teacherComment != null">
				 teacher_comment,
			</if>
			<if test="bean.judgeTime != null">
				 judge_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.submitId!=null">
				 #{bean.submitId},
			</if>
			<if test="bean.taskId!=null">
				 #{bean.taskId},
			</if>
			<if test="bean.taskType!=null">
				 #{bean.taskType},
			</if>
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.submitStatus!=null">
				 #{bean.submitStatus},
			</if>
			<if test="bean.judgeStatus!=null">
				 #{bean.judgeStatus},
			</if>
			<if test="bean.startedTime!=null">
				 #{bean.startedTime},
			</if>
			<if test="bean.submitTime!=null">
				 #{bean.submitTime},
			</if>
			<if test="bean.forcedSubmitTime!=null">
				 #{bean.forcedSubmitTime},
			</if>
			<if test="bean.usedSeconds!=null">
				 #{bean.usedSeconds},
			</if>
			<if test="bean.objectiveScore!=null">
				 #{bean.objectiveScore},
			</if>
			<if test="bean.subjectiveScore!=null">
				 #{bean.subjectiveScore},
			</if>
			<if test="bean.submitContent!=null">
				 #{bean.submitContent},
			</if>
			<if test="bean.teacherComment!=null">
				 #{bean.teacherComment},
			</if>
			<if test="bean.judgeTime!=null">
				 #{bean.judgeTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.taskId!=null">
				 task_id = VALUES(task_id),
			</if>
			<if test="bean.taskType!=null">
				 task_type = VALUES(task_type),
			</if>
			<if test="bean.paperId!=null">
				 paper_id = VALUES(paper_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.submitStatus!=null">
				 submit_status = VALUES(submit_status),
			</if>
			<if test="bean.judgeStatus!=null">
				 judge_status = VALUES(judge_status),
			</if>
			<if test="bean.startedTime!=null">
				 started_time = VALUES(started_time),
			</if>
			<if test="bean.submitTime!=null">
				 submit_time = VALUES(submit_time),
			</if>
			<if test="bean.forcedSubmitTime!=null">
				 forced_submit_time = VALUES(forced_submit_time),
			</if>
			<if test="bean.usedSeconds!=null">
				 used_seconds = VALUES(used_seconds),
			</if>
			<if test="bean.objectiveScore!=null">
				 objective_score = VALUES(objective_score),
			</if>
			<if test="bean.subjectiveScore!=null">
				 subjective_score = VALUES(subjective_score),
			</if>
			<if test="bean.submitContent!=null">
				 submit_content = VALUES(submit_content),
			</if>
			<if test="bean.teacherComment!=null">
				 teacher_comment = VALUES(teacher_comment),
			</if>
			<if test="bean.judgeTime!=null">
				 judge_time = VALUES(judge_time),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit" useGeneratedKeys="true" keyProperty="submitId">
		 INSERT INTO course_assessment_submit(
			 task_id,
			 task_type,
			 paper_id,
			 user_id,
			 submit_status,
			 judge_status,
			 started_time,
			 submit_time,
			 forced_submit_time,
			 used_seconds,
			 objective_score,
			 subjective_score,
			 submit_content,
			 teacher_comment,
			 judge_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.taskId},
				 #{item.taskType},
				 #{item.paperId},
				 #{item.userId},
				 #{item.submitStatus},
				 #{item.judgeStatus},
				 #{item.startedTime},
				 #{item.submitTime},
				 #{item.forcedSubmitTime},
				 #{item.usedSeconds},
				 #{item.objectiveScore},
				 #{item.subjectiveScore},
				 #{item.submitContent},
				 #{item.teacherComment},
				 #{item.judgeTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit">
		 INSERT INTO course_assessment_submit(
			 task_id,
			 task_type,
			 paper_id,
			 user_id,
			 submit_status,
			 judge_status,
			 started_time,
			 submit_time,
			 forced_submit_time,
			 used_seconds,
			 objective_score,
			 subjective_score,
			 submit_content,
			 teacher_comment,
			 judge_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.taskId},
				 #{item.taskType},
				 #{item.paperId},
				 #{item.userId},
				 #{item.submitStatus},
				 #{item.judgeStatus},
				 #{item.startedTime},
				 #{item.submitTime},
				 #{item.forcedSubmitTime},
				 #{item.usedSeconds},
				 #{item.objectiveScore},
				 #{item.subjectiveScore},
				 #{item.submitContent},
				 #{item.teacherComment},
				 #{item.judgeTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			task_id = VALUES(task_id),
			task_type = VALUES(task_type),
			paper_id = VALUES(paper_id),
			user_id = VALUES(user_id),
			submit_status = VALUES(submit_status),
			judge_status = VALUES(judge_status),
			started_time = VALUES(started_time),
			submit_time = VALUES(submit_time),
			forced_submit_time = VALUES(forced_submit_time),
			used_seconds = VALUES(used_seconds),
			objective_score = VALUES(objective_score),
			subjective_score = VALUES(subjective_score),
			submit_content = VALUES(submit_content),
			teacher_comment = VALUES(teacher_comment),
			judge_time = VALUES(judge_time),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseAssessmentSubmitQuery">
		 UPDATE course_assessment_submit c
 		 <set> 
			<if test="bean.taskId != null">
				 task_id = #{bean.taskId},
			</if>
			<if test="bean.taskType != null">
				 task_type = #{bean.taskType},
			</if>
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.submitStatus != null">
				 submit_status = #{bean.submitStatus},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
			<if test="bean.startedTime != null">
				 started_time = #{bean.startedTime},
			</if>
			<if test="bean.submitTime != null">
				 submit_time = #{bean.submitTime},
			</if>
			<if test="bean.forcedSubmitTime != null">
				 forced_submit_time = #{bean.forcedSubmitTime},
			</if>
			<if test="bean.usedSeconds != null">
				 used_seconds = #{bean.usedSeconds},
			</if>
			<if test="bean.objectiveScore != null">
				 objective_score = #{bean.objectiveScore},
			</if>
			<if test="bean.subjectiveScore != null">
				 subjective_score = #{bean.subjectiveScore},
			</if>
			<if test="bean.submitContent != null">
				 submit_content = #{bean.submitContent},
			</if>
			<if test="bean.teacherComment != null">
				 teacher_comment = #{bean.teacherComment},
			</if>
			<if test="bean.judgeTime != null">
				 judge_time = #{bean.judgeTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_assessment_submit c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据SubmitId修改-->
	<update id="updateBySubmitId" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit">
		 UPDATE course_assessment_submit
 		 <set> 
			<if test="bean.taskId != null">
				 task_id = #{bean.taskId},
			</if>
			<if test="bean.taskType != null">
				 task_type = #{bean.taskType},
			</if>
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.submitStatus != null">
				 submit_status = #{bean.submitStatus},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
			<if test="bean.startedTime != null">
				 started_time = #{bean.startedTime},
			</if>
			<if test="bean.submitTime != null">
				 submit_time = #{bean.submitTime},
			</if>
			<if test="bean.forcedSubmitTime != null">
				 forced_submit_time = #{bean.forcedSubmitTime},
			</if>
			<if test="bean.usedSeconds != null">
				 used_seconds = #{bean.usedSeconds},
			</if>
			<if test="bean.objectiveScore != null">
				 objective_score = #{bean.objectiveScore},
			</if>
			<if test="bean.subjectiveScore != null">
				 subjective_score = #{bean.subjectiveScore},
			</if>
			<if test="bean.submitContent != null">
				 submit_content = #{bean.submitContent},
			</if>
			<if test="bean.teacherComment != null">
				 teacher_comment = #{bean.teacherComment},
			</if>
			<if test="bean.judgeTime != null">
				 judge_time = #{bean.judgeTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where submit_id=#{submitId}
	</update>

	<!-- 根据SubmitId删除-->
	<delete id="deleteBySubmitId">
		delete from course_assessment_submit where submit_id=#{submitId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectBySubmitId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_assessment_submit c where submit_id=#{submitId}
	</select>

	<!-- 根据TaskIdAndUserIdAndPaperId修改-->
	<update id="updateByTaskIdAndUserIdAndPaperId" parameterType="com.smart.campus.entity.po.CourseAssessmentSubmit">
		 UPDATE course_assessment_submit
 		 <set> 
			<if test="bean.taskType != null">
				 task_type = #{bean.taskType},
			</if>
			<if test="bean.submitStatus != null">
				 submit_status = #{bean.submitStatus},
			</if>
			<if test="bean.judgeStatus != null">
				 judge_status = #{bean.judgeStatus},
			</if>
			<if test="bean.startedTime != null">
				 started_time = #{bean.startedTime},
			</if>
			<if test="bean.submitTime != null">
				 submit_time = #{bean.submitTime},
			</if>
			<if test="bean.forcedSubmitTime != null">
				 forced_submit_time = #{bean.forcedSubmitTime},
			</if>
			<if test="bean.usedSeconds != null">
				 used_seconds = #{bean.usedSeconds},
			</if>
			<if test="bean.objectiveScore != null">
				 objective_score = #{bean.objectiveScore},
			</if>
			<if test="bean.subjectiveScore != null">
				 subjective_score = #{bean.subjectiveScore},
			</if>
			<if test="bean.submitContent != null">
				 submit_content = #{bean.submitContent},
			</if>
			<if test="bean.teacherComment != null">
				 teacher_comment = #{bean.teacherComment},
			</if>
			<if test="bean.judgeTime != null">
				 judge_time = #{bean.judgeTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where task_id=#{taskId} and user_id=#{userId} and paper_id=#{paperId}
	</update>

	<!-- 根据TaskIdAndUserIdAndPaperId删除-->
	<delete id="deleteByTaskIdAndUserIdAndPaperId">
		delete from course_assessment_submit where task_id=#{taskId} and user_id=#{userId} and paper_id=#{paperId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByTaskIdAndUserIdAndPaperId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_assessment_submit c where task_id=#{taskId} and user_id=#{userId} and paper_id=#{paperId}
	</select>

</mapper>
