<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseStudyLogMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseStudyLog">
		<!--主键ID-->
		<id column="id" property="id"  />
		<!--学习会话ID-->
		<result column="session_id" property="sessionId"  />
		<!--学生ID，对应 user_info.user_id-->
		<result column="user_id" property="userId"  />
		<!--课程ID，对应 course_info.course_id-->
		<result column="course_id" property="courseId"  />
		<!--章节ID，对应 course_chapter.chapter_id-->
		<result column="chapter_id" property="chapterId"  />
		<!--课时ID，对应 course_chapter_lesson.lesson_id-->
		<result column="lesson_id" property="lessonId"  />
		<!--本次学习开始时间-->
		<result column="start_time" property="startTime"  />
		<!--本次学习结束时间-->
		<result column="end_time" property="endTime"  />
		<!--本次学习时长，单位秒-->
		<result column="study_seconds" property="studySeconds"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.session_id,c.user_id,c.course_id,c.chapter_id,
		 c.lesson_id,c.start_time,c.end_time,c.study_seconds,c.create_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  c.id = #{query.id}
			</if>
			<if test="query.sessionId != null and query.sessionId!=''">
				 and  c.session_id = #{query.sessionId}
			</if>
			<if test="query.userId != null">
				 and  c.user_id = #{query.userId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  c.chapter_id = #{query.chapterId}
			</if>
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.startTime != null and query.startTime!=''">
				 <![CDATA[ and  c.start_time=str_to_date(#{query.startTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.endTime != null and query.endTime!=''">
				 <![CDATA[ and  c.end_time=str_to_date(#{query.endTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.studySeconds != null">
				 and  c.study_seconds = #{query.studySeconds}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.sessionIdFuzzy!= null  and query.sessionIdFuzzy!=''">
				 and  c.session_id like concat('%', #{query.sessionIdFuzzy}, '%')
			</if>
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  c.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.startTimeStart!= null and query.startTimeStart!=''">
				 <![CDATA[ and  c.start_time>=str_to_date(#{query.startTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.startTimeEnd!= null and query.startTimeEnd!=''">
				 <![CDATA[ and  c.start_time< date_sub(str_to_date(#{query.startTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.endTimeStart!= null and query.endTimeStart!=''">
				 <![CDATA[ and  c.end_time>=str_to_date(#{query.endTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.endTimeEnd!= null and query.endTimeEnd!=''">
				 <![CDATA[ and  c.end_time< date_sub(str_to_date(#{query.endTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_study_log c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_study_log c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseStudyLog">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_study_log
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.sessionId != null">
				 session_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.startTime != null">
				 start_time,
			</if>
			<if test="bean.endTime != null">
				 end_time,
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.sessionId!=null">
				 #{bean.sessionId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.startTime!=null">
				 #{bean.startTime},
			</if>
			<if test="bean.endTime!=null">
				 #{bean.endTime},
			</if>
			<if test="bean.studySeconds!=null">
				 #{bean.studySeconds},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseStudyLog">
		 INSERT INTO course_study_log
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.sessionId != null">
				 session_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.startTime != null">
				 start_time,
			</if>
			<if test="bean.endTime != null">
				 end_time,
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.sessionId!=null">
				 #{bean.sessionId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.startTime!=null">
				 #{bean.startTime},
			</if>
			<if test="bean.endTime!=null">
				 #{bean.endTime},
			</if>
			<if test="bean.studySeconds!=null">
				 #{bean.studySeconds},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.sessionId!=null">
				 session_id = VALUES(session_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.startTime!=null">
				 start_time = VALUES(start_time),
			</if>
			<if test="bean.endTime!=null">
				 end_time = VALUES(end_time),
			</if>
			<if test="bean.studySeconds!=null">
				 study_seconds = VALUES(study_seconds),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseStudyLog" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO course_study_log(
			 session_id,
			 user_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 start_time,
			 end_time,
			 study_seconds,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.sessionId},
				 #{item.userId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.startTime},
				 #{item.endTime},
				 #{item.studySeconds},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseStudyLog">
		 INSERT INTO course_study_log(
			 session_id,
			 user_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 start_time,
			 end_time,
			 study_seconds,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.sessionId},
				 #{item.userId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.startTime},
				 #{item.endTime},
				 #{item.studySeconds},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			session_id = VALUES(session_id),
			user_id = VALUES(user_id),
			course_id = VALUES(course_id),
			chapter_id = VALUES(chapter_id),
			lesson_id = VALUES(lesson_id),
			start_time = VALUES(start_time),
			end_time = VALUES(end_time),
			study_seconds = VALUES(study_seconds),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseStudyLogQuery">
		 UPDATE course_study_log c
 		 <set> 
			<if test="bean.sessionId != null">
				 session_id = #{bean.sessionId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.startTime != null">
				 start_time = #{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				 end_time = #{bean.endTime},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_study_log c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.CourseStudyLog">
		 UPDATE course_study_log
 		 <set> 
			<if test="bean.sessionId != null">
				 session_id = #{bean.sessionId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.startTime != null">
				 start_time = #{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				 end_time = #{bean.endTime},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_study_log where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_log c where id=#{id}
	</select>

	<!-- 根据SessionId修改-->
	<update id="updateBySessionId" parameterType="com.smart.campus.entity.po.CourseStudyLog">
		 UPDATE course_study_log
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.startTime != null">
				 start_time = #{bean.startTime},
			</if>
			<if test="bean.endTime != null">
				 end_time = #{bean.endTime},
			</if>
			<if test="bean.studySeconds != null">
				 study_seconds = #{bean.studySeconds},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where session_id=#{sessionId}
	</update>

	<!-- 根据SessionId删除-->
	<delete id="deleteBySessionId">
		delete from course_study_log where session_id=#{sessionId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectBySessionId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_log c where session_id=#{sessionId}
	</select>

</mapper>