<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.DepartmentInfoMapper">

    <resultMap id="base_result_map" type="com.smart.campus.entity.po.DepartmentInfo">
        <id column="department_id" property="departmentId"/>
        <result column="department_code" property="departmentCode"/>
        <result column="department_name" property="departmentName"/>
        <result column="leader_name" property="leaderName"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="major_count" property="majorCount"/>
    </resultMap>

    <sql id="base_column_list">
        d.department_id,
        d.department_code,
        d.department_name,
        d.leader_name,
        d.contact_phone,
        d.description,
        d.status,
        d.sort_order,
        (select count(1) from major_info m where m.department_id = d.department_id) as major_count
    </sql>

    <sql id="base_condition_filed">
        <if test="query.departmentId != null">
            and d.department_id = #{query.departmentId}
        </if>
        <if test="query.departmentCode != null and query.departmentCode!=''">
            and d.department_code = #{query.departmentCode}
        </if>
        <if test="query.departmentName != null and query.departmentName!=''">
            and d.department_name = #{query.departmentName}
        </if>
        <if test="query.leaderName != null and query.leaderName!=''">
            and d.leader_name = #{query.leaderName}
        </if>
        <if test="query.contactPhone != null and query.contactPhone!=''">
            and d.contact_phone = #{query.contactPhone}
        </if>
        <if test="query.description != null and query.description!=''">
            and d.description = #{query.description}
        </if>
        <if test="query.status != null">
            and d.status = #{query.status}
        </if>
        <if test="query.sortOrder != null">
            and d.sort_order = #{query.sortOrder}
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.departmentCodeFuzzy!= null and query.departmentCodeFuzzy!=''">
                and d.department_code like concat('%', #{query.departmentCodeFuzzy}, '%')
            </if>
            <if test="query.departmentNameFuzzy!= null and query.departmentNameFuzzy!=''">
                and d.department_name like concat('%', #{query.departmentNameFuzzy}, '%')
            </if>
            <if test="query.leaderNameFuzzy!= null and query.leaderNameFuzzy!=''">
                and d.leader_name like concat('%', #{query.leaderNameFuzzy}, '%')
            </if>
            <if test="query.contactPhoneFuzzy!= null and query.contactPhoneFuzzy!=''">
                and d.contact_phone like concat('%', #{query.contactPhoneFuzzy}, '%')
            </if>
            <if test="query.descriptionFuzzy!= null and query.descriptionFuzzy!=''">
                and d.description like concat('%', #{query.descriptionFuzzy}, '%')
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                and (
                    d.department_name like concat('%', #{query.keyword}, '%')
                    or d.department_code like concat('%', #{query.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from department_info d
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(1)
        from department_info d
        <include refid="query_condition"/>
    </select>

    <insert id="insert" parameterType="com.smart.campus.entity.po.DepartmentInfo">
        <selectKey keyProperty="bean.departmentId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into department_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.departmentCode != null">
                department_code,
            </if>
            <if test="bean.departmentName != null">
                department_name,
            </if>
            <if test="bean.leaderName != null">
                leader_name,
            </if>
            <if test="bean.contactPhone != null">
                contact_phone,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.departmentCode!=null">
                #{bean.departmentCode},
            </if>
            <if test="bean.departmentName!=null">
                #{bean.departmentName},
            </if>
            <if test="bean.leaderName!=null">
                #{bean.leaderName},
            </if>
            <if test="bean.contactPhone!=null">
                #{bean.contactPhone},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.sortOrder!=null">
                #{bean.sortOrder},
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.DepartmentInfo">
        insert into department_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.departmentId != null">
                department_id,
            </if>
            <if test="bean.departmentCode != null">
                department_code,
            </if>
            <if test="bean.departmentName != null">
                department_name,
            </if>
            <if test="bean.leaderName != null">
                leader_name,
            </if>
            <if test="bean.contactPhone != null">
                contact_phone,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.departmentId!=null">
                #{bean.departmentId},
            </if>
            <if test="bean.departmentCode!=null">
                #{bean.departmentCode},
            </if>
            <if test="bean.departmentName!=null">
                #{bean.departmentName},
            </if>
            <if test="bean.leaderName!=null">
                #{bean.leaderName},
            </if>
            <if test="bean.contactPhone!=null">
                #{bean.contactPhone},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.sortOrder!=null">
                #{bean.sortOrder},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="bean.departmentCode!=null">
                department_code = values(department_code),
            </if>
            <if test="bean.departmentName!=null">
                department_name = values(department_name),
            </if>
            <if test="bean.leaderName!=null">
                leader_name = values(leader_name),
            </if>
            <if test="bean.contactPhone!=null">
                contact_phone = values(contact_phone),
            </if>
            <if test="bean.description!=null">
                description = values(description),
            </if>
            <if test="bean.status!=null">
                status = values(status),
            </if>
            <if test="bean.sortOrder!=null">
                sort_order = values(sort_order),
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.smart.campus.entity.po.DepartmentInfo" useGeneratedKeys="true" keyProperty="departmentId">
        insert into department_info(
            department_code,
            department_name,
            leader_name,
            contact_phone,
            description,
            status,
            sort_order
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.departmentCode},
                #{item.departmentName},
                #{item.leaderName},
                #{item.contactPhone},
                #{item.description},
                #{item.status},
                #{item.sortOrder}
            )
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.DepartmentInfo">
        insert into department_info(
            department_code,
            department_name,
            leader_name,
            contact_phone,
            description,
            status,
            sort_order
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.departmentCode},
                #{item.departmentName},
                #{item.leaderName},
                #{item.contactPhone},
                #{item.description},
                #{item.status},
                #{item.sortOrder}
            )
        </foreach>
        on duplicate key update
        department_code = values(department_code),
        department_name = values(department_name),
        leader_name = values(leader_name),
        contact_phone = values(contact_phone),
        description = values(description),
        status = values(status),
        sort_order = values(sort_order)
    </insert>

    <update id="updateByParam" parameterType="com.smart.campus.entity.query.DepartmentInfoQuery">
        update department_info d
        <set>
            <if test="bean.departmentCode != null">
                department_code = #{bean.departmentCode},
            </if>
            <if test="bean.departmentName != null">
                department_name = #{bean.departmentName},
            </if>
            <if test="bean.leaderName != null">
                leader_name = #{bean.leaderName},
            </if>
            <if test="bean.contactPhone != null">
                contact_phone = #{bean.contactPhone},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <delete id="deleteByParam">
        delete d
        from department_info d
        <include refid="query_condition"/>
    </delete>

    <update id="updateByDepartmentId" parameterType="com.smart.campus.entity.po.DepartmentInfo">
        update department_info
        <set>
            <if test="bean.departmentCode != null">
                department_code = #{bean.departmentCode},
            </if>
            <if test="bean.departmentName != null">
                department_name = #{bean.departmentName},
            </if>
            <if test="bean.leaderName != null">
                leader_name = #{bean.leaderName},
            </if>
            <if test="bean.contactPhone != null">
                contact_phone = #{bean.contactPhone},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        where department_id = #{departmentId}
    </update>

    <delete id="deleteByDepartmentId">
        delete from department_info where department_id = #{departmentId}
    </delete>

    <select id="selectByDepartmentId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from department_info d
        where d.department_id = #{departmentId}
    </select>

    <select id="selectByDepartmentIdList" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from department_info d
        where d.department_id in
        <foreach collection="departmentIdList" item="departmentId" open="(" separator="," close=")">
            #{departmentId}
        </foreach>
    </select>

    <update id="updateByDepartmentCode" parameterType="com.smart.campus.entity.po.DepartmentInfo">
        update department_info
        <set>
            <if test="bean.departmentName != null">
                department_name = #{bean.departmentName},
            </if>
            <if test="bean.leaderName != null">
                leader_name = #{bean.leaderName},
            </if>
            <if test="bean.contactPhone != null">
                contact_phone = #{bean.contactPhone},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        where department_code = #{departmentCode}
    </update>

    <delete id="deleteByDepartmentCode">
        delete from department_info where department_code = #{departmentCode}
    </delete>

    <delete id="deleteBatchByDepartmentIdList">
        delete from department_info
        where department_id in
        <foreach collection="departmentIdList" item="departmentId" open="(" separator="," close=")">
            #{departmentId}
        </foreach>
    </delete>

    <update id="updateSortOrderBatch">
        update department_info
        set sort_order = case department_id
        <foreach collection="list" item="item">
            when #{item.departmentId} then #{item.sortOrder}
        </foreach>
        end
        where department_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.departmentId}
        </foreach>
    </update>

    <select id="selectByDepartmentCode" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from department_info d
        where d.department_code = #{departmentCode}
    </select>

</mapper>
