<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.MajorInfoMapper">

    <resultMap id="base_result_map" type="com.smart.campus.entity.po.MajorInfo">
        <id column="major_id" property="majorId"/>
        <result column="department_id" property="departmentId"/>
        <result column="major_code" property="majorCode"/>
        <result column="major_name" property="majorName"/>
        <result column="educational_system_type" property="educationalSystemType"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort_order" property="sortOrder"/>
    </resultMap>

    <sql id="base_column_list">
        m.major_id,m.department_id,m.major_code,m.major_name,m.educational_system_type,
        m.description,m.status,m.sort_order
    </sql>

    <sql id="base_condition_filed">
        <if test="query.majorId != null">
            and m.major_id = #{query.majorId}
        </if>
        <if test="query.departmentId != null">
            and m.department_id = #{query.departmentId}
        </if>
        <if test="query.majorCode != null and query.majorCode!=''">
            and m.major_code = #{query.majorCode}
        </if>
        <if test="query.majorName != null and query.majorName!=''">
            and m.major_name = #{query.majorName}
        </if>
        <if test="query.educationalSystemType != null">
            and m.educational_system_type = #{query.educationalSystemType}
        </if>
        <if test="query.description != null and query.description!=''">
            and m.description = #{query.description}
        </if>
        <if test="query.status != null">
            and m.status = #{query.status}
        </if>
        <if test="query.sortOrder != null">
            and m.sort_order = #{query.sortOrder}
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.majorCodeFuzzy!= null and query.majorCodeFuzzy!=''">
                and m.major_code like concat('%', #{query.majorCodeFuzzy}, '%')
            </if>
            <if test="query.majorNameFuzzy!= null and query.majorNameFuzzy!=''">
                and m.major_name like concat('%', #{query.majorNameFuzzy}, '%')
            </if>
            <if test="query.descriptionFuzzy!= null and query.descriptionFuzzy!=''">
                and m.description like concat('%', #{query.descriptionFuzzy}, '%')
            </if>
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        select <include refid="base_column_list"/> from major_info m
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from major_info m
        <include refid="query_condition"/>
    </select>

    <insert id="insert" parameterType="com.smart.campus.entity.po.MajorInfo">
        <selectKey keyProperty="bean.majorId" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into major_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.departmentId != null">
                department_id,
            </if>
            <if test="bean.majorCode != null">
                major_code,
            </if>
            <if test="bean.majorName != null">
                major_name,
            </if>
            <if test="bean.educationalSystemType != null">
                educational_system_type,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.departmentId!=null">
                #{bean.departmentId},
            </if>
            <if test="bean.majorCode!=null">
                #{bean.majorCode},
            </if>
            <if test="bean.majorName!=null">
                #{bean.majorName},
            </if>
            <if test="bean.educationalSystemType!=null">
                #{bean.educationalSystemType},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.sortOrder!=null">
                #{bean.sortOrder},
            </if>
        </trim>
    </insert>

    <insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.MajorInfo">
        insert into major_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.majorId != null">
                major_id,
            </if>
            <if test="bean.departmentId != null">
                department_id,
            </if>
            <if test="bean.majorCode != null">
                major_code,
            </if>
            <if test="bean.majorName != null">
                major_name,
            </if>
            <if test="bean.educationalSystemType != null">
                educational_system_type,
            </if>
            <if test="bean.description != null">
                description,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.sortOrder != null">
                sort_order,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.majorId!=null">
                #{bean.majorId},
            </if>
            <if test="bean.departmentId!=null">
                #{bean.departmentId},
            </if>
            <if test="bean.majorCode!=null">
                #{bean.majorCode},
            </if>
            <if test="bean.majorName!=null">
                #{bean.majorName},
            </if>
            <if test="bean.educationalSystemType!=null">
                #{bean.educationalSystemType},
            </if>
            <if test="bean.description!=null">
                #{bean.description},
            </if>
            <if test="bean.status!=null">
                #{bean.status},
            </if>
            <if test="bean.sortOrder!=null">
                #{bean.sortOrder},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="bean.departmentId!=null">
                department_id = values(department_id),
            </if>
            <if test="bean.majorCode!=null">
                major_code = values(major_code),
            </if>
            <if test="bean.majorName!=null">
                major_name = values(major_name),
            </if>
            <if test="bean.educationalSystemType!=null">
                educational_system_type = values(educational_system_type),
            </if>
            <if test="bean.description!=null">
                description = values(description),
            </if>
            <if test="bean.status!=null">
                status = values(status),
            </if>
            <if test="bean.sortOrder!=null">
                sort_order = values(sort_order),
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="com.smart.campus.entity.po.MajorInfo" useGeneratedKeys="true" keyProperty="majorId">
        insert into major_info(
            department_id,
            major_code,
            major_name,
            educational_system_type,
            description,
            status,
            sort_order
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.departmentId},
                #{item.majorCode},
                #{item.majorName},
                #{item.educationalSystemType},
                #{item.description},
                #{item.status},
                #{item.sortOrder}
            )
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.MajorInfo">
        insert into major_info(
            department_id,
            major_code,
            major_name,
            educational_system_type,
            description,
            status,
            sort_order
        ) values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.departmentId},
                #{item.majorCode},
                #{item.majorName},
                #{item.educationalSystemType},
                #{item.description},
                #{item.status},
                #{item.sortOrder}
            )
        </foreach>
        on duplicate key update
        department_id = values(department_id),
        major_code = values(major_code),
        major_name = values(major_name),
        educational_system_type = values(educational_system_type),
        description = values(description),
        status = values(status),
        sort_order = values(sort_order)
    </insert>

    <update id="updateByParam" parameterType="com.smart.campus.entity.query.MajorInfoQuery">
        update major_info m
        <set>
            <if test="bean.departmentId != null">
                department_id = #{bean.departmentId},
            </if>
            <if test="bean.majorCode != null">
                major_code = #{bean.majorCode},
            </if>
            <if test="bean.majorName != null">
                major_name = #{bean.majorName},
            </if>
            <if test="bean.educationalSystemType != null">
                educational_system_type = #{bean.educationalSystemType},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <delete id="deleteByParam">
        delete m from major_info m
        <include refid="query_condition"/>
    </delete>

    <update id="updateByMajorId" parameterType="com.smart.campus.entity.po.MajorInfo">
        update major_info
        <set>
            <if test="bean.departmentId != null">
                department_id = #{bean.departmentId},
            </if>
            <if test="bean.majorCode != null">
                major_code = #{bean.majorCode},
            </if>
            <if test="bean.majorName != null">
                major_name = #{bean.majorName},
            </if>
            <if test="bean.educationalSystemType != null">
                educational_system_type = #{bean.educationalSystemType},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        where major_id = #{majorId}
    </update>

    <delete id="deleteByMajorId">
        delete from major_info where major_id = #{majorId}
    </delete>

    <select id="selectByMajorId" resultMap="base_result_map">
        select <include refid="base_column_list"/> from major_info m where major_id = #{majorId}
    </select>

    <select id="selectByMajorIdList" resultMap="base_result_map">
        select <include refid="base_column_list"/> from major_info m
        where major_id in
        <foreach collection="majorIdList" item="majorId" open="(" separator="," close=")">
            #{majorId}
        </foreach>
    </select>

    <update id="updateByMajorCode" parameterType="com.smart.campus.entity.po.MajorInfo">
        update major_info
        <set>
            <if test="bean.departmentId != null">
                department_id = #{bean.departmentId},
            </if>
            <if test="bean.majorName != null">
                major_name = #{bean.majorName},
            </if>
            <if test="bean.educationalSystemType != null">
                educational_system_type = #{bean.educationalSystemType},
            </if>
            <if test="bean.description != null">
                description = #{bean.description},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.sortOrder != null">
                sort_order = #{bean.sortOrder},
            </if>
        </set>
        where major_code = #{majorCode}
    </update>

    <delete id="deleteByMajorCode">
        delete from major_info where major_code = #{majorCode}
    </delete>

    <update id="updateSortOrderBatch">
        update major_info
        set sort_order = case major_id
        <foreach collection="list" item="item">
            when #{item.majorId} then #{item.sortOrder}
        </foreach>
        end
        where major_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.majorId}
        </foreach>
    </update>

    <select id="selectByMajorCode" resultMap="base_result_map">
        select <include refid="base_column_list"/> from major_info m where major_code = #{majorCode}
    </select>

</mapper>
