<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.PaperQuestionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.PaperQuestion">
		<!--主键ID-->
		<id column="id" property="id"  />
		<!--试卷ID，对应paper_info.paper_id-->
		<result column="paper_id" property="paperId"  />
		<!--题目ID，对应question_info.question_id-->
		<result column="question_id" property="questionId"  />
		<!--试卷内题目分值-->
		<result column="question_score" property="questionScore"  />
		<!--题目类型:1单选 2多选 3判断 4填空-->
		<result column="question_type" property="questionType"  />
		<!--分组 类型 1:分组 0:题目 -->
		<result column="section_type" property="sectionType"  />
		<!--分组名称，可为空，如单选题、多选题-->
		<result column="section_name" property="sectionName"  />
		<!--父ID,如果是分组父级ID为0-->
		<result column="parent_id" property="parentId"  />
		<!--试卷内排序值-->
		<result column="sort_order" property="sortOrder"  />
		<!--题目快照，建议存JSON，包含标题、配图、选项、答案、答案解析等-->
		<result column="question_snapshot" property="questionSnapshot"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 p.id,p.paper_id,p.question_id,p.question_score,p.question_type,
		 p.section_type,p.section_name,p.parent_id,p.sort_order,p.question_snapshot,
		 p.create_time,p.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  p.id = #{query.id}
			</if>
			<if test="query.paperId != null and query.paperId!=''">
				 and  p.paper_id = #{query.paperId}
			</if>
			<if test="query.questionId != null">
				 and  p.question_id = #{query.questionId}
			</if>
			<if test="query.questionScore != null">
				 and  p.question_score = #{query.questionScore}
			</if>
			<if test="query.questionType != null">
				 and  p.question_type = #{query.questionType}
			</if>
			<if test="query.sectionType != null">
				 and  p.section_type = #{query.sectionType}
			</if>
			<if test="query.sectionName != null and query.sectionName!=''">
				 and  p.section_name = #{query.sectionName}
			</if>
			<if test="query.parentId != null">
				 and  p.parent_id = #{query.parentId}
			</if>
			<if test="query.sortOrder != null">
				 and  p.sort_order = #{query.sortOrder}
			</if>
			<if test="query.questionSnapshot != null and query.questionSnapshot!=''">
				 and  p.question_snapshot = #{query.questionSnapshot}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  p.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  p.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.paperIdFuzzy!= null  and query.paperIdFuzzy!=''">
				 and  p.paper_id like concat('%', #{query.paperIdFuzzy}, '%')
			</if>
			<if test="query.sectionNameFuzzy!= null  and query.sectionNameFuzzy!=''">
				 and  p.section_name like concat('%', #{query.sectionNameFuzzy}, '%')
			</if>
			<if test="query.questionSnapshotFuzzy!= null  and query.questionSnapshotFuzzy!=''">
				 and  p.question_snapshot like concat('%', #{query.questionSnapshotFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  p.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  p.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  p.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  p.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM paper_question p <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM paper_question p <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.PaperQuestion">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO paper_question
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.questionScore != null">
				 question_score,
			</if>
			<if test="bean.questionType != null">
				 question_type,
			</if>
			<if test="bean.sectionType != null">
				 section_type,
			</if>
			<if test="bean.sectionName != null">
				 section_name,
			</if>
			<if test="bean.parentId != null">
				 parent_id,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.questionSnapshot != null">
				 question_snapshot,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.questionScore!=null">
				 #{bean.questionScore},
			</if>
			<if test="bean.questionType!=null">
				 #{bean.questionType},
			</if>
			<if test="bean.sectionType!=null">
				 #{bean.sectionType},
			</if>
			<if test="bean.sectionName!=null">
				 #{bean.sectionName},
			</if>
			<if test="bean.parentId!=null">
				 #{bean.parentId},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.questionSnapshot!=null">
				 #{bean.questionSnapshot},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.PaperQuestion">
		 INSERT INTO paper_question
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.questionScore != null">
				 question_score,
			</if>
			<if test="bean.questionType != null">
				 question_type,
			</if>
			<if test="bean.sectionType != null">
				 section_type,
			</if>
			<if test="bean.sectionName != null">
				 section_name,
			</if>
			<if test="bean.parentId != null">
				 parent_id,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.questionSnapshot != null">
				 question_snapshot,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.questionScore!=null">
				 #{bean.questionScore},
			</if>
			<if test="bean.questionType!=null">
				 #{bean.questionType},
			</if>
			<if test="bean.sectionType!=null">
				 #{bean.sectionType},
			</if>
			<if test="bean.sectionName!=null">
				 #{bean.sectionName},
			</if>
			<if test="bean.parentId!=null">
				 #{bean.parentId},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.questionSnapshot!=null">
				 #{bean.questionSnapshot},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.paperId!=null">
				 paper_id = VALUES(paper_id),
			</if>
			<if test="bean.questionId!=null">
				 question_id = VALUES(question_id),
			</if>
			<if test="bean.questionScore!=null">
				 question_score = VALUES(question_score),
			</if>
			<if test="bean.questionType!=null">
				 question_type = VALUES(question_type),
			</if>
			<if test="bean.sectionType!=null">
				 section_type = VALUES(section_type),
			</if>
			<if test="bean.sectionName!=null">
				 section_name = VALUES(section_name),
			</if>
			<if test="bean.parentId!=null">
				 parent_id = VALUES(parent_id),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
			<if test="bean.questionSnapshot!=null">
				 question_snapshot = VALUES(question_snapshot),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.PaperQuestion" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO paper_question(
			 paper_id,
			 question_id,
			 question_score,
			 question_type,
			 section_type,
			 section_name,
			 parent_id,
			 sort_order,
			 question_snapshot,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.paperId},
				 #{item.questionId},
				 #{item.questionScore},
				 #{item.questionType},
				 #{item.sectionType},
				 #{item.sectionName},
				 #{item.parentId},
				 #{item.sortOrder},
				 #{item.questionSnapshot},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.PaperQuestion">
		 INSERT INTO paper_question(
			 paper_id,
			 question_id,
			 question_score,
			 question_type,
			 section_type,
			 section_name,
			 parent_id,
			 sort_order,
			 question_snapshot,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.paperId},
				 #{item.questionId},
				 #{item.questionScore},
				 #{item.questionType},
				 #{item.sectionType},
				 #{item.sectionName},
				 #{item.parentId},
				 #{item.sortOrder},
				 #{item.questionSnapshot},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			paper_id = VALUES(paper_id),
			question_id = VALUES(question_id),
			question_score = VALUES(question_score),
			question_type = VALUES(question_type),
			section_type = VALUES(section_type),
			section_name = VALUES(section_name),
			parent_id = VALUES(parent_id),
			sort_order = VALUES(sort_order),
			question_snapshot = VALUES(question_snapshot),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.PaperQuestionQuery">
		 UPDATE paper_question p
 		 <set> 
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.questionScore != null">
				 question_score = #{bean.questionScore},
			</if>
			<if test="bean.questionType != null">
				 question_type = #{bean.questionType},
			</if>
			<if test="bean.sectionType != null">
				 section_type = #{bean.sectionType},
			</if>
			<if test="bean.sectionName != null">
				 section_name = #{bean.sectionName},
			</if>
			<if test="bean.parentId != null">
				 parent_id = #{bean.parentId},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.questionSnapshot != null">
				 question_snapshot = #{bean.questionSnapshot},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete p from paper_question p
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.PaperQuestion">
		 UPDATE paper_question
 		 <set> 
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.questionScore != null">
				 question_score = #{bean.questionScore},
			</if>
			<if test="bean.questionType != null">
				 question_type = #{bean.questionType},
			</if>
			<if test="bean.sectionType != null">
				 section_type = #{bean.sectionType},
			</if>
			<if test="bean.sectionName != null">
				 section_name = #{bean.sectionName},
			</if>
			<if test="bean.parentId != null">
				 parent_id = #{bean.parentId},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.questionSnapshot != null">
				 question_snapshot = #{bean.questionSnapshot},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from paper_question where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from paper_question p where id=#{id}
	</select>

	<!-- 根据PaperIdAndQuestionId修改-->
	<update id="updateByPaperIdAndQuestionId" parameterType="com.smart.campus.entity.po.PaperQuestion">
		 UPDATE paper_question
 		 <set> 
			<if test="bean.questionScore != null">
				 question_score = #{bean.questionScore},
			</if>
			<if test="bean.questionType != null">
				 question_type = #{bean.questionType},
			</if>
			<if test="bean.sectionType != null">
				 section_type = #{bean.sectionType},
			</if>
			<if test="bean.sectionName != null">
				 section_name = #{bean.sectionName},
			</if>
			<if test="bean.parentId != null">
				 parent_id = #{bean.parentId},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.questionSnapshot != null">
				 question_snapshot = #{bean.questionSnapshot},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where paper_id=#{paperId} and question_id=#{questionId}
	</update>

	<!-- 根据PaperIdAndQuestionId删除-->
	<delete id="deleteByPaperIdAndQuestionId">
		delete from paper_question where paper_id=#{paperId} and question_id=#{questionId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByPaperIdAndQuestionId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from paper_question p where paper_id=#{paperId} and question_id=#{questionId}
	</select>

</mapper>