<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.StudyPlanItemMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.StudyPlanItem">
		<!--计划明细ID-->
		<id column="item_id" property="itemId"  />
		<!--学习计划ID-->
		<result column="plan_id" property="planId"  />
		<!--课程ID-->
		<result column="course_id" property="courseId"  />
		<!--章节ID-->
		<result column="chapter_id" property="chapterId"  />
		<!--课时ID-->
		<result column="lesson_id" property="lessonId"  />
		<!--开始时间-->
		<result column="start_time" property="startTime"  />
		<!--完成日期-->
		<result column="complate_time" property="complateTime"  />
		<!--0未开始 1进行中 2完成-->
		<result column="status" property="status"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 s.item_id,s.plan_id,s.course_id,s.chapter_id,s.lesson_id,
		 s.start_time,s.complate_time,s.status,s.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.itemId != null">
				 and  s.item_id = #{query.itemId}
			</if>
			<if test="query.planId != null and query.planId!=''">
				 and  s.plan_id = #{query.planId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  s.course_id = #{query.courseId}
			</if>
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  s.chapter_id = #{query.chapterId}
			</if>
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  s.lesson_id = #{query.lessonId}
			</if>
			<if test="query.startTime != null">
				 and  s.start_time = #{query.startTime}
			</if>
			<if test="query.complateTime != null and query.complateTime!=''">
				 <![CDATA[ and  s.complate_time=str_to_date(#{query.complateTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.status != null">
				 and  s.status = #{query.status}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  s.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.planIdFuzzy!= null  and query.planIdFuzzy!=''">
				 and  s.plan_id like concat('%', #{query.planIdFuzzy}, '%')
			</if>
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  s.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  s.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  s.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.complateTimeStart!= null and query.complateTimeStart!=''">
				 <![CDATA[ and  s.complate_time>=str_to_date(#{query.complateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.complateTimeEnd!= null and query.complateTimeEnd!=''">
				 <![CDATA[ and  s.complate_time< date_sub(str_to_date(#{query.complateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  s.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  s.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM study_plan_item s <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM study_plan_item s <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.StudyPlanItem">
		<selectKey keyProperty="bean.itemId" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO study_plan_item
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.planId != null">
				 plan_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.startTime != null">
				 start_time,
			</if>
			<if test="bean.complateTime != null">
				 complate_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.planId!=null">
				 #{bean.planId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.startTime!=null">
				 #{bean.startTime},
			</if>
			<if test="bean.complateTime!=null">
				 #{bean.complateTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.StudyPlanItem">
		 INSERT INTO study_plan_item
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.itemId != null">
				 item_id,
			</if>
			<if test="bean.planId != null">
				 plan_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.startTime != null">
				 start_time,
			</if>
			<if test="bean.complateTime != null">
				 complate_time,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.itemId!=null">
				 #{bean.itemId},
			</if>
			<if test="bean.planId!=null">
				 #{bean.planId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.startTime!=null">
				 #{bean.startTime},
			</if>
			<if test="bean.complateTime!=null">
				 #{bean.complateTime},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.planId!=null">
				 plan_id = VALUES(plan_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.startTime!=null">
				 start_time = VALUES(start_time),
			</if>
			<if test="bean.complateTime!=null">
				 complate_time = VALUES(complate_time),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.StudyPlanItem" useGeneratedKeys="true" keyProperty="itemId">
		 INSERT INTO study_plan_item(
			 plan_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 start_time,
			 complate_time,
			 status,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.planId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.startTime},
				 #{item.complateTime},
				 #{item.status},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.StudyPlanItem">
		 INSERT INTO study_plan_item(
			 plan_id,
			 course_id,
			 chapter_id,
			 lesson_id,
			 start_time,
			 complate_time,
			 status,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.planId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonId},
				 #{item.startTime},
				 #{item.complateTime},
				 #{item.status},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			plan_id = VALUES(plan_id),
			course_id = VALUES(course_id),
			chapter_id = VALUES(chapter_id),
			lesson_id = VALUES(lesson_id),
			start_time = VALUES(start_time),
			complate_time = VALUES(complate_time),
			status = VALUES(status),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.StudyPlanItemQuery">
		 UPDATE study_plan_item s
 		 <set> 
			<if test="bean.planId != null">
				 plan_id = #{bean.planId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.startTime != null">
				 start_time = #{bean.startTime},
			</if>
			<if test="bean.complateTime != null">
				 complate_time = #{bean.complateTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete s from study_plan_item s
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ItemId修改-->
	<update id="updateByItemId" parameterType="com.smart.campus.entity.po.StudyPlanItem">
		 UPDATE study_plan_item
 		 <set> 
			<if test="bean.planId != null">
				 plan_id = #{bean.planId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.startTime != null">
				 start_time = #{bean.startTime},
			</if>
			<if test="bean.complateTime != null">
				 complate_time = #{bean.complateTime},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where item_id=#{itemId}
	</update>

	<!-- 根据ItemId删除-->
	<delete id="deleteByItemId">
		delete from study_plan_item where item_id=#{itemId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByItemId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from study_plan_item s where item_id=#{itemId}
	</select>

	<select id="selectByPlanIdList" resultMap="base_result_map">
		select <include refid="base_column_list" />
		from study_plan_item s
		where s.plan_id in
		<foreach collection="planIdList" item="planId" open="(" separator="," close=")">
			#{planId}
		</foreach>
		order by s.complate_time asc,s.start_time asc,s.item_id asc
	</select>

</mapper>
