<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.SystemRoleMenuMapper">

    <resultMap id="base_result_map" type="com.smart.campus.entity.po.SystemRoleMenu">
        <result column="id" property="id" />
        <result column="role_type" property="roleType" />
        <result column="menu_code" property="menuCode" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="base_column_list">
        s.id,s.role_type,s.menu_code,s.create_time
    </sql>

    <sql id="base_condition_field">
        <if test="query.id != null">
            and s.id = #{query.id}
        </if>
        <if test="query.roleType != null">
            and s.role_type = #{query.roleType}
        </if>
        <if test="query.menuCode != null and query.menuCode != ''">
            and s.menu_code = #{query.menuCode}
        </if>
        <if test="query.createTime != null and query.createTime != ''">
            <![CDATA[ and s.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_condition_field" />
            <if test="query.createTimeStart != null and query.createTimeStart != ''">
                <![CDATA[ and s.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createTimeEnd != null and query.createTimeEnd != ''">
                <![CDATA[ and s.create_time<date_sub(str_to_date(#{query.createTimeEnd}, '%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        SELECT <include refid="base_column_list" /> FROM system_role_menu s <include refid="query_condition" />
        <if test="query.orderBy != null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage != null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM system_role_menu s <include refid="query_condition" />
    </select>

    <insert id="insert" parameterType="com.smart.campus.entity.po.SystemRoleMenu" useGeneratedKeys="true" keyProperty="bean.id">
        INSERT INTO system_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.roleType != null">role_type,</if>
            <if test="bean.menuCode != null">menu_code,</if>
            <if test="bean.createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.roleType != null">#{bean.roleType},</if>
            <if test="bean.menuCode != null">#{bean.menuCode},</if>
            <if test="bean.createTime != null">#{bean.createTime},</if>
        </trim>
    </insert>

    <insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.SystemRoleMenu">
        INSERT INTO system_role_menu(role_type,menu_code,create_time)
        VALUES(#{bean.roleType},#{bean.menuCode},#{bean.createTime})
        ON DUPLICATE KEY UPDATE create_time = VALUES(create_time)
    </insert>

    <insert id="insertBatch">
        INSERT INTO system_role_menu(role_type,menu_code,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleType},#{item.menuCode},#{item.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch">
        INSERT INTO system_role_menu(role_type,menu_code,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleType},#{item.menuCode},#{item.createTime})
        </foreach>
        ON DUPLICATE KEY UPDATE create_time = VALUES(create_time)
    </insert>

    <update id="updateByParam">
        UPDATE system_role_menu s
        <set>
            <if test="bean.roleType != null">role_type = #{bean.roleType},</if>
            <if test="bean.menuCode != null">menu_code = #{bean.menuCode},</if>
            <if test="bean.createTime != null">create_time = #{bean.createTime},</if>
        </set>
        <include refid="query_condition" />
    </update>

    <delete id="deleteByParam">
        DELETE FROM system_role_menu s <include refid="query_condition" />
    </delete>

    <select id="selectById" resultMap="base_result_map">
        SELECT <include refid="base_column_list" /> FROM system_role_menu s WHERE s.id = #{id}
    </select>

    <update id="updateById">
        UPDATE system_role_menu
        <set>
            <if test="bean.roleType != null">role_type = #{bean.roleType},</if>
            <if test="bean.menuCode != null">menu_code = #{bean.menuCode},</if>
            <if test="bean.createTime != null">create_time = #{bean.createTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM system_role_menu WHERE id = #{id}
    </delete>
</mapper>
