::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 6px;
}

html,
body,
#app {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family:
    'Segoe UI',
    'PingFang SC',
    'Microsoft YaHei',
    sans-serif;
  color: #24304a;
  overflow: auto;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

button,
input,
select,
textarea {
  font: inherit;
}