<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.mappers.CodingProblemMapper">

	<resultMap id="base_result_map" type="com.nexora.entity.po.CodingProblem">
		<id column="problem_id" property="problemId" />
		<result column="stage" property="stage" />
		<result column="grade" property="grade" />
		<result column="knowledge_point_id" property="knowledgePointId" />
		<result column="difficulty" property="difficulty" />
		<result column="title" property="title" />
		<result column="goal" property="goal" />
		<result column="description" property="description" />
		<result column="hint" property="hint" />
		<result column="starter_code" property="starterCode" />
		<result column="reference_code" property="referenceCode" />
		<result column="solution_notes" property="solutionNotes" />
		<result column="judge_type" property="judgeType" />
		<result column="output_spec" property="outputSpec" />
		<result column="output_example" property="outputExample" />
		<result column="expected_output" property="expectedOutput" />
		<result column="expected_keywords" property="expectedKeywords" />
		<result column="expected_pattern" property="expectedPattern" />
		<result column="numeric_tolerant" property="numericTolerant" />
		<result column="score" property="score" />
		<result column="estimate_minutes" property="estimateMinutes" />
		<result column="sort" property="sort" />
		<result column="language" property="language" />
		<result column="status" property="status" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="base_column_list">
		p.problem_id,p.stage,p.grade,p.knowledge_point_id,p.difficulty,p.title,p.goal,p.description,
		p.hint,p.starter_code,p.reference_code,p.solution_notes,p.judge_type,p.output_spec,p.output_example,
		p.expected_output,p.expected_keywords,p.expected_pattern,p.numeric_tolerant,p.score,p.estimate_minutes,
		p.sort,p.language,p.status,p.create_by,p.create_time,p.update_time
	</sql>

	<sql id="query_condition">
		<where>
			<if test="query.problemId != null and query.problemId != ''">
				and p.problem_id = #{query.problemId}
			</if>
			<if test="query.problemIds != null and query.problemIds.size() > 0">
				and p.problem_id in
				<foreach collection="query.problemIds" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="query.stage != null and query.stage != ''">
				and p.stage = #{query.stage}
			</if>
			<if test="query.difficulty != null">
				and p.difficulty = #{query.difficulty}
			</if>
			<if test="query.status != null">
				and p.status = #{query.status}
			</if>
			<if test="query.language != null and query.language != ''">
				and p.language = #{query.language}
			</if>
			<if test="query.knowledgePointId != null and query.knowledgePointId != ''">
				and p.knowledge_point_id = #{query.knowledgePointId}
			</if>
			<if test="query.titleFuzzy != null and query.titleFuzzy != ''">
				and p.title like concat('%', #{query.titleFuzzy}, '%')
			</if>
			<if test="query.keywordFuzzy != null and query.keywordFuzzy != ''">
				and (p.title like concat('%', #{query.keywordFuzzy}, '%')
				or p.goal like concat('%', #{query.keywordFuzzy}, '%'))
			</if>
		</where>
	</sql>

	<select id="selectList" resultMap="base_result_map">
		select <include refid="base_column_list" /> from coding_problem p
		<include refid="query_condition" />
		order by p.stage asc, p.difficulty asc, p.sort asc, p.create_time asc
		<if test="query.simplePage != null">
			limit #{query.simplePage.start}, #{query.simplePage.end}
		</if>
	</select>

	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) from coding_problem p
		<include refid="query_condition" />
	</select>

	<insert id="insert" parameterType="com.nexora.entity.po.CodingProblem">
		insert into coding_problem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.problemId != null">problem_id,</if>
			<if test="bean.stage != null">stage,</if>
			<if test="bean.grade != null">grade,</if>
			<if test="bean.knowledgePointId != null">knowledge_point_id,</if>
			<if test="bean.difficulty != null">difficulty,</if>
			<if test="bean.title != null">title,</if>
			<if test="bean.goal != null">goal,</if>
			<if test="bean.description != null">description,</if>
			<if test="bean.hint != null">hint,</if>
			<if test="bean.starterCode != null">starter_code,</if>
			<if test="bean.referenceCode != null">reference_code,</if>
			<if test="bean.solutionNotes != null">solution_notes,</if>
			<if test="bean.judgeType != null">judge_type,</if>
			<if test="bean.outputSpec != null">output_spec,</if>
			<if test="bean.outputExample != null">output_example,</if>
			<if test="bean.expectedOutput != null">expected_output,</if>
			<if test="bean.expectedKeywords != null">expected_keywords,</if>
			<if test="bean.expectedPattern != null">expected_pattern,</if>
			<if test="bean.numericTolerant != null">numeric_tolerant,</if>
			<if test="bean.score != null">score,</if>
			<if test="bean.estimateMinutes != null">estimate_minutes,</if>
			<if test="bean.sort != null">sort,</if>
			<if test="bean.language != null">language,</if>
			<if test="bean.status != null">status,</if>
			<if test="bean.createBy != null">create_by,</if>
			<if test="bean.createTime != null">create_time,</if>
			<if test="bean.updateTime != null">update_time,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.problemId != null">#{bean.problemId},</if>
			<if test="bean.stage != null">#{bean.stage},</if>
			<if test="bean.grade != null">#{bean.grade},</if>
			<if test="bean.knowledgePointId != null">#{bean.knowledgePointId},</if>
			<if test="bean.difficulty != null">#{bean.difficulty},</if>
			<if test="bean.title != null">#{bean.title},</if>
			<if test="bean.goal != null">#{bean.goal},</if>
			<if test="bean.description != null">#{bean.description},</if>
			<if test="bean.hint != null">#{bean.hint},</if>
			<if test="bean.starterCode != null">#{bean.starterCode},</if>
			<if test="bean.referenceCode != null">#{bean.referenceCode},</if>
			<if test="bean.solutionNotes != null">#{bean.solutionNotes},</if>
			<if test="bean.judgeType != null">#{bean.judgeType},</if>
			<if test="bean.outputSpec != null">#{bean.outputSpec},</if>
			<if test="bean.outputExample != null">#{bean.outputExample},</if>
			<if test="bean.expectedOutput != null">#{bean.expectedOutput},</if>
			<if test="bean.expectedKeywords != null">#{bean.expectedKeywords},</if>
			<if test="bean.expectedPattern != null">#{bean.expectedPattern},</if>
			<if test="bean.numericTolerant != null">#{bean.numericTolerant},</if>
			<if test="bean.score != null">#{bean.score},</if>
			<if test="bean.estimateMinutes != null">#{bean.estimateMinutes},</if>
			<if test="bean.sort != null">#{bean.sort},</if>
			<if test="bean.language != null">#{bean.language},</if>
			<if test="bean.status != null">#{bean.status},</if>
			<if test="bean.createBy != null">#{bean.createBy},</if>
			<if test="bean.createTime != null">#{bean.createTime},</if>
			<if test="bean.updateTime != null">#{bean.updateTime},</if>
		</trim>
	</insert>

	<update id="updateByParam" parameterType="com.nexora.entity.query.CodingProblemQuery">
		update coding_problem p
		<set>
			<if test="bean.stage != null">stage = #{bean.stage},</if>
			<if test="bean.grade != null">grade = #{bean.grade},</if>
			<if test="bean.knowledgePointId != null">knowledge_point_id = #{bean.knowledgePointId},</if>
			<if test="bean.difficulty != null">difficulty = #{bean.difficulty},</if>
			<if test="bean.title != null">title = #{bean.title},</if>
			<if test="bean.goal != null">goal = #{bean.goal},</if>
			<if test="bean.description != null">description = #{bean.description},</if>
			<if test="bean.hint != null">hint = #{bean.hint},</if>
			<if test="bean.starterCode != null">starter_code = #{bean.starterCode},</if>
			<if test="bean.referenceCode != null">reference_code = #{bean.referenceCode},</if>
			<if test="bean.solutionNotes != null">solution_notes = #{bean.solutionNotes},</if>
			<if test="bean.judgeType != null">judge_type = #{bean.judgeType},</if>
			<if test="bean.outputSpec != null">output_spec = #{bean.outputSpec},</if>
			<if test="bean.outputExample != null">output_example = #{bean.outputExample},</if>
			<if test="bean.expectedOutput != null">expected_output = #{bean.expectedOutput},</if>
			<if test="bean.expectedKeywords != null">expected_keywords = #{bean.expectedKeywords},</if>
			<if test="bean.expectedPattern != null">expected_pattern = #{bean.expectedPattern},</if>
			<if test="bean.numericTolerant != null">numeric_tolerant = #{bean.numericTolerant},</if>
			<if test="bean.score != null">score = #{bean.score},</if>
			<if test="bean.estimateMinutes != null">estimate_minutes = #{bean.estimateMinutes},</if>
			<if test="bean.sort != null">sort = #{bean.sort},</if>
			<if test="bean.language != null">language = #{bean.language},</if>
			<if test="bean.status != null">status = #{bean.status},</if>
			<if test="bean.updateTime != null">update_time = #{bean.updateTime},</if>
		</set>
		<include refid="query_condition" />
	</update>

	<update id="updateByProblemId" parameterType="com.nexora.entity.po.CodingProblem">
		update coding_problem
		<set>
			<if test="bean.stage != null">stage = #{bean.stage},</if>
			<if test="bean.grade != null">grade = #{bean.grade},</if>
			<if test="bean.knowledgePointId != null">knowledge_point_id = #{bean.knowledgePointId},</if>
			<if test="bean.difficulty != null">difficulty = #{bean.difficulty},</if>
			<if test="bean.title != null">title = #{bean.title},</if>
			<if test="bean.goal != null">goal = #{bean.goal},</if>
			<if test="bean.description != null">description = #{bean.description},</if>
			<if test="bean.hint != null">hint = #{bean.hint},</if>
			<if test="bean.starterCode != null">starter_code = #{bean.starterCode},</if>
			<if test="bean.referenceCode != null">reference_code = #{bean.referenceCode},</if>
			<if test="bean.solutionNotes != null">solution_notes = #{bean.solutionNotes},</if>
			<if test="bean.judgeType != null">judge_type = #{bean.judgeType},</if>
			<if test="bean.outputSpec != null">output_spec = #{bean.outputSpec},</if>
			<if test="bean.outputExample != null">output_example = #{bean.outputExample},</if>
			<if test="bean.expectedOutput != null">expected_output = #{bean.expectedOutput},</if>
			<if test="bean.expectedKeywords != null">expected_keywords = #{bean.expectedKeywords},</if>
			<if test="bean.expectedPattern != null">expected_pattern = #{bean.expectedPattern},</if>
			<if test="bean.numericTolerant != null">numeric_tolerant = #{bean.numericTolerant},</if>
			<if test="bean.score != null">score = #{bean.score},</if>
			<if test="bean.estimateMinutes != null">estimate_minutes = #{bean.estimateMinutes},</if>
			<if test="bean.sort != null">sort = #{bean.sort},</if>
			<if test="bean.language != null">language = #{bean.language},</if>
			<if test="bean.status != null">status = #{bean.status},</if>
			<if test="bean.updateTime != null">update_time = #{bean.updateTime},</if>
		</set>
		where problem_id = #{problemId}
	</update>

	<delete id="deleteByParam">
		delete p from coding_problem p
		<include refid="query_condition" />
	</delete>

	<delete id="deleteByProblemId">
		delete from coding_problem where problem_id = #{problemId}
	</delete>

	<select id="selectByProblemId" resultMap="base_result_map">
		select <include refid="base_column_list" /> from coding_problem p
		where p.problem_id = #{problemId}
	</select>
</mapper>
