<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.mappers.CourseChapterLessonMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.nexora.entity.po.CourseChapterLesson">
		<!--课时ID-->
		<result column="lesson_id" property="lessonId"  />
		<!--所属章节-->
		<result column="chapter_id" property="chapterId"  />
		<!--所属课程【冗余：免join章节直查课程课时树】-->
		<result column="course_id" property="courseId"  />
		<!--课时名-->
		<result column="lesson_name" property="lessonName"  />
		<!--课时摘要-->
		<result column="summary" property="summary"  />
		<!--视频时长（秒）【冗余：自主视频资源同步，续播UI免查资源表】-->
		<result column="video_duration" property="videoDuration"  />
		<!--排序-->
		<result column="sort" property="sort"  />
		<!--状态：0正常 1停用-->
		<result column="status" property="status"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.lesson_id,c.chapter_id,c.course_id,c.lesson_name,c.summary,
		 c.video_duration,c.sort,c.status,c.create_time,c.update_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  c.chapter_id = #{query.chapterId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.lessonName != null and query.lessonName!=''">
				 and  c.lesson_name = #{query.lessonName}
			</if>
			<if test="query.summary != null and query.summary!=''">
				 and  c.summary = #{query.summary}
			</if>
			<if test="query.videoDuration != null">
				 and  c.video_duration = #{query.videoDuration}
			</if>
			<if test="query.sort != null">
				 and  c.sort = #{query.sort}
			</if>
			<if test="query.status != null">
				 and  c.status = #{query.status}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  c.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  c.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.lessonNameFuzzy!= null  and query.lessonNameFuzzy!=''">
				 and  c.lesson_name like concat('%', #{query.lessonNameFuzzy}, '%')
			</if>
			<if test="query.summaryFuzzy!= null  and query.summaryFuzzy!=''">
				 and  c.summary like concat('%', #{query.summaryFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  c.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  c.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_chapter_lesson c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_chapter_lesson c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.nexora.entity.po.CourseChapterLesson">
		 INSERT INTO course_chapter_lesson
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.lessonName != null">
				 lesson_name,
			</if>
			<if test="bean.summary != null">
				 summary,
			</if>
			<if test="bean.videoDuration != null">
				 video_duration,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.lessonName!=null">
				 #{bean.lessonName},
			</if>
			<if test="bean.summary!=null">
				 #{bean.summary},
			</if>
			<if test="bean.videoDuration!=null">
				 #{bean.videoDuration},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.nexora.entity.po.CourseChapterLesson">
		 INSERT INTO course_chapter_lesson
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.lessonName != null">
				 lesson_name,
			</if>
			<if test="bean.summary != null">
				 summary,
			</if>
			<if test="bean.videoDuration != null">
				 video_duration,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.lessonName!=null">
				 #{bean.lessonName},
			</if>
			<if test="bean.summary!=null">
				 #{bean.summary},
			</if>
			<if test="bean.videoDuration!=null">
				 #{bean.videoDuration},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.lessonName!=null">
				 lesson_name = VALUES(lesson_name),
			</if>
			<if test="bean.summary!=null">
				 summary = VALUES(summary),
			</if>
			<if test="bean.videoDuration!=null">
				 video_duration = VALUES(video_duration),
			</if>
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.nexora.entity.po.CourseChapterLesson">
		 INSERT INTO course_chapter_lesson(
			 lesson_id,
			 chapter_id,
			 course_id,
			 lesson_name,
			 summary,
			 video_duration,
			 sort,
			 status,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.lessonId},
				 #{item.chapterId},
				 #{item.courseId},
				 #{item.lessonName},
				 #{item.summary},
				 #{item.videoDuration},
				 #{item.sort},
				 #{item.status},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.nexora.entity.po.CourseChapterLesson">
		 INSERT INTO course_chapter_lesson(
			 lesson_id,
			 chapter_id,
			 course_id,
			 lesson_name,
			 summary,
			 video_duration,
			 sort,
			 status,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.lessonId},
				 #{item.chapterId},
				 #{item.courseId},
				 #{item.lessonName},
				 #{item.summary},
				 #{item.videoDuration},
				 #{item.sort},
				 #{item.status},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			lesson_id = VALUES(lesson_id),
			chapter_id = VALUES(chapter_id),
			course_id = VALUES(course_id),
			lesson_name = VALUES(lesson_name),
			summary = VALUES(summary),
			video_duration = VALUES(video_duration),
			sort = VALUES(sort),
			status = VALUES(status),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.nexora.entity.query.CourseChapterLessonQuery">
		 UPDATE course_chapter_lesson c
 		 <set> 
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.lessonName != null">
				 lesson_name = #{bean.lessonName},
			</if>
			<if test="bean.summary != null">
				 summary = #{bean.summary},
			</if>
			<if test="bean.videoDuration != null">
				 video_duration = #{bean.videoDuration},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_chapter_lesson c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据LessonId修改-->
	<update id="updateByLessonId" parameterType="com.nexora.entity.po.CourseChapterLesson">
		 UPDATE course_chapter_lesson
 		 <set> 
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.lessonName != null">
				 lesson_name = #{bean.lessonName},
			</if>
			<if test="bean.summary != null">
				 summary = #{bean.summary},
			</if>
			<if test="bean.videoDuration != null">
				 video_duration = #{bean.videoDuration},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where lesson_id=#{lessonId}
	</update>

	<!-- 根据LessonId删除-->
	<delete id="deleteByLessonId">
		delete from course_chapter_lesson where lesson_id=#{lessonId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByLessonId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_chapter_lesson c where lesson_id=#{lessonId}
	</select>

</mapper>