<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.mappers.CourseStudyProgressMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.nexora.entity.po.CourseStudyProgress">
		<!--主键-->
		<id column="id" property="id"  />
		<!--学生-->
		<result column="user_id" property="userId"  />
		<!--课程-->
		<result column="course_id" property="courseId"  />
		<!--已学课时数【冗余：Redis缓冲聚合后异步回写】-->
		<result column="studied_lessons" property="studiedLessons"  />
		<!--课时总数【冗余快照】-->
		<result column="total_lessons" property="totalLessons"  />
		<!--进度百分比【冗余：列表直读】-->
		<result column="progress" property="progress"  />
		<!--累计学习时长（秒）-->
		<result column="study_duration" property="studyDuration"  />
		<!--最近学习课时-->
		<result column="last_lesson_id" property="lastLessonId"  />
		<!--完成时间-->
		<result column="finish_time" property="finishTime"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.user_id,c.course_id,c.studied_lessons,c.total_lessons,
		 c.progress,c.study_duration,c.last_lesson_id,c.finish_time,c.create_time,
		 c.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  c.id = #{query.id}
			</if>
			<if test="query.userId != null">
				 and  c.user_id = #{query.userId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.studiedLessons != null">
				 and  c.studied_lessons = #{query.studiedLessons}
			</if>
			<if test="query.totalLessons != null">
				 and  c.total_lessons = #{query.totalLessons}
			</if>
			<if test="query.progress != null">
				 and  c.progress = #{query.progress}
			</if>
			<if test="query.studyDuration != null">
				 and  c.study_duration = #{query.studyDuration}
			</if>
			<if test="query.lastLessonId != null and query.lastLessonId!=''">
				 and  c.last_lesson_id = #{query.lastLessonId}
			</if>
			<if test="query.finishTime != null and query.finishTime!=''">
				 <![CDATA[ and  c.finish_time=str_to_date(#{query.finishTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  c.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.lastLessonIdFuzzy!= null  and query.lastLessonIdFuzzy!=''">
				 and  c.last_lesson_id like concat('%', #{query.lastLessonIdFuzzy}, '%')
			</if>
			<if test="query.finishTimeStart!= null and query.finishTimeStart!=''">
				 <![CDATA[ and  c.finish_time>=str_to_date(#{query.finishTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.finishTimeEnd!= null and query.finishTimeEnd!=''">
				 <![CDATA[ and  c.finish_time< date_sub(str_to_date(#{query.finishTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  c.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  c.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_study_progress c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_study_progress c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.nexora.entity.po.CourseStudyProgress">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_study_progress
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.studiedLessons != null">
				 studied_lessons,
			</if>
			<if test="bean.totalLessons != null">
				 total_lessons,
			</if>
			<if test="bean.progress != null">
				 progress,
			</if>
			<if test="bean.studyDuration != null">
				 study_duration,
			</if>
			<if test="bean.lastLessonId != null">
				 last_lesson_id,
			</if>
			<if test="bean.finishTime != null">
				 finish_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.studiedLessons!=null">
				 #{bean.studiedLessons},
			</if>
			<if test="bean.totalLessons!=null">
				 #{bean.totalLessons},
			</if>
			<if test="bean.progress!=null">
				 #{bean.progress},
			</if>
			<if test="bean.studyDuration!=null">
				 #{bean.studyDuration},
			</if>
			<if test="bean.lastLessonId!=null">
				 #{bean.lastLessonId},
			</if>
			<if test="bean.finishTime!=null">
				 #{bean.finishTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.nexora.entity.po.CourseStudyProgress">
		 INSERT INTO course_study_progress
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.studiedLessons != null">
				 studied_lessons,
			</if>
			<if test="bean.totalLessons != null">
				 total_lessons,
			</if>
			<if test="bean.progress != null">
				 progress,
			</if>
			<if test="bean.studyDuration != null">
				 study_duration,
			</if>
			<if test="bean.lastLessonId != null">
				 last_lesson_id,
			</if>
			<if test="bean.finishTime != null">
				 finish_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.studiedLessons!=null">
				 #{bean.studiedLessons},
			</if>
			<if test="bean.totalLessons!=null">
				 #{bean.totalLessons},
			</if>
			<if test="bean.progress!=null">
				 #{bean.progress},
			</if>
			<if test="bean.studyDuration!=null">
				 #{bean.studyDuration},
			</if>
			<if test="bean.lastLessonId!=null">
				 #{bean.lastLessonId},
			</if>
			<if test="bean.finishTime!=null">
				 #{bean.finishTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.studiedLessons!=null">
				 studied_lessons = VALUES(studied_lessons),
			</if>
			<if test="bean.totalLessons!=null">
				 total_lessons = VALUES(total_lessons),
			</if>
			<if test="bean.progress!=null">
				 progress = VALUES(progress),
			</if>
			<if test="bean.studyDuration!=null">
				 study_duration = VALUES(study_duration),
			</if>
			<if test="bean.lastLessonId!=null">
				 last_lesson_id = VALUES(last_lesson_id),
			</if>
			<if test="bean.finishTime!=null">
				 finish_time = VALUES(finish_time),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.nexora.entity.po.CourseStudyProgress" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO course_study_progress(
			 user_id,
			 course_id,
			 studied_lessons,
			 total_lessons,
			 progress,
			 study_duration,
			 last_lesson_id,
			 finish_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.studiedLessons},
				 #{item.totalLessons},
				 #{item.progress},
				 #{item.studyDuration},
				 #{item.lastLessonId},
				 #{item.finishTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.nexora.entity.po.CourseStudyProgress">
		 INSERT INTO course_study_progress(
			 user_id,
			 course_id,
			 studied_lessons,
			 total_lessons,
			 progress,
			 study_duration,
			 last_lesson_id,
			 finish_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.studiedLessons},
				 #{item.totalLessons},
				 #{item.progress},
				 #{item.studyDuration},
				 #{item.lastLessonId},
				 #{item.finishTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			course_id = VALUES(course_id),
			studied_lessons = VALUES(studied_lessons),
			total_lessons = VALUES(total_lessons),
			progress = VALUES(progress),
			study_duration = VALUES(study_duration),
			last_lesson_id = VALUES(last_lesson_id),
			finish_time = VALUES(finish_time),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.nexora.entity.query.CourseStudyProgressQuery">
		 UPDATE course_study_progress c
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.studiedLessons != null">
				 studied_lessons = #{bean.studiedLessons},
			</if>
			<if test="bean.totalLessons != null">
				 total_lessons = #{bean.totalLessons},
			</if>
			<if test="bean.progress != null">
				 progress = #{bean.progress},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.lastLessonId != null">
				 last_lesson_id = #{bean.lastLessonId},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_study_progress c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.nexora.entity.po.CourseStudyProgress">
		 UPDATE course_study_progress
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.studiedLessons != null">
				 studied_lessons = #{bean.studiedLessons},
			</if>
			<if test="bean.totalLessons != null">
				 total_lessons = #{bean.totalLessons},
			</if>
			<if test="bean.progress != null">
				 progress = #{bean.progress},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.lastLessonId != null">
				 last_lesson_id = #{bean.lastLessonId},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_study_progress where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_progress c where id=#{id}
	</select>

	<!-- 根据UserIdAndCourseId修改-->
	<update id="updateByUserIdAndCourseId" parameterType="com.nexora.entity.po.CourseStudyProgress">
		 UPDATE course_study_progress
 		 <set> 
			<if test="bean.studiedLessons != null">
				 studied_lessons = #{bean.studiedLessons},
			</if>
			<if test="bean.totalLessons != null">
				 total_lessons = #{bean.totalLessons},
			</if>
			<if test="bean.progress != null">
				 progress = #{bean.progress},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.lastLessonId != null">
				 last_lesson_id = #{bean.lastLessonId},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where user_id=#{userId} and course_id=#{courseId}
	</update>

	<!-- 根据UserIdAndCourseId删除-->
	<delete id="deleteByUserIdAndCourseId">
		delete from course_study_progress where user_id=#{userId} and course_id=#{courseId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserIdAndCourseId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_progress c where user_id=#{userId} and course_id=#{courseId}
	</select>

</mapper>