<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.mappers.CourseStudyLessonProgressMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.nexora.entity.po.CourseStudyLessonProgress">
		<!--主键-->
		<id column="id" property="id"  />
		<!--学生-->
		<result column="user_id" property="userId"  />
		<!--课程【冗余】-->
		<result column="course_id" property="courseId"  />
		<!--课时-->
		<result column="lesson_id" property="lessonId"  />
		<!--视频最后播放位置（秒），续播锚点-->
		<result column="play_position" property="playPosition"  />
		<!--学习时长（秒）-->
		<result column="study_duration" property="studyDuration"  />
		<!--0未完成 1已完成-->
		<result column="finished" property="finished"  />
		<!--完成时间-->
		<result column="finish_time" property="finishTime"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.user_id,c.course_id,c.lesson_id,c.play_position,
		 c.study_duration,c.finished,c.finish_time,c.create_time,c.update_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  c.id = #{query.id}
			</if>
			<if test="query.userId != null">
				 and  c.user_id = #{query.userId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.playPosition != null">
				 and  c.play_position = #{query.playPosition}
			</if>
			<if test="query.studyDuration != null">
				 and  c.study_duration = #{query.studyDuration}
			</if>
			<if test="query.finished != null">
				 and  c.finished = #{query.finished}
			</if>
			<if test="query.finishTime != null and query.finishTime!=''">
				 <![CDATA[ and  c.finish_time=str_to_date(#{query.finishTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  c.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  c.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.finishTimeStart!= null and query.finishTimeStart!=''">
				 <![CDATA[ and  c.finish_time>=str_to_date(#{query.finishTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.finishTimeEnd!= null and query.finishTimeEnd!=''">
				 <![CDATA[ and  c.finish_time< date_sub(str_to_date(#{query.finishTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  c.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  c.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  c.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  c.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_study_lesson_progress c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_study_lesson_progress c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.nexora.entity.po.CourseStudyLessonProgress">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO course_study_lesson_progress
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.playPosition != null">
				 play_position,
			</if>
			<if test="bean.studyDuration != null">
				 study_duration,
			</if>
			<if test="bean.finished != null">
				 finished,
			</if>
			<if test="bean.finishTime != null">
				 finish_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.playPosition!=null">
				 #{bean.playPosition},
			</if>
			<if test="bean.studyDuration!=null">
				 #{bean.studyDuration},
			</if>
			<if test="bean.finished!=null">
				 #{bean.finished},
			</if>
			<if test="bean.finishTime!=null">
				 #{bean.finishTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.nexora.entity.po.CourseStudyLessonProgress">
		 INSERT INTO course_study_lesson_progress
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.playPosition != null">
				 play_position,
			</if>
			<if test="bean.studyDuration != null">
				 study_duration,
			</if>
			<if test="bean.finished != null">
				 finished,
			</if>
			<if test="bean.finishTime != null">
				 finish_time,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.playPosition!=null">
				 #{bean.playPosition},
			</if>
			<if test="bean.studyDuration!=null">
				 #{bean.studyDuration},
			</if>
			<if test="bean.finished!=null">
				 #{bean.finished},
			</if>
			<if test="bean.finishTime!=null">
				 #{bean.finishTime},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.playPosition!=null">
				 play_position = VALUES(play_position),
			</if>
			<if test="bean.studyDuration!=null">
				 study_duration = VALUES(study_duration),
			</if>
			<if test="bean.finished!=null">
				 finished = VALUES(finished),
			</if>
			<if test="bean.finishTime!=null">
				 finish_time = VALUES(finish_time),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.nexora.entity.po.CourseStudyLessonProgress" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO course_study_lesson_progress(
			 user_id,
			 course_id,
			 lesson_id,
			 play_position,
			 study_duration,
			 finished,
			 finish_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.lessonId},
				 #{item.playPosition},
				 #{item.studyDuration},
				 #{item.finished},
				 #{item.finishTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.nexora.entity.po.CourseStudyLessonProgress">
		 INSERT INTO course_study_lesson_progress(
			 user_id,
			 course_id,
			 lesson_id,
			 play_position,
			 study_duration,
			 finished,
			 finish_time,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.courseId},
				 #{item.lessonId},
				 #{item.playPosition},
				 #{item.studyDuration},
				 #{item.finished},
				 #{item.finishTime},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			course_id = VALUES(course_id),
			lesson_id = VALUES(lesson_id),
			play_position = VALUES(play_position),
			study_duration = VALUES(study_duration),
			finished = VALUES(finished),
			finish_time = VALUES(finish_time),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.nexora.entity.query.CourseStudyLessonProgressQuery">
		 UPDATE course_study_lesson_progress c
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.playPosition != null">
				 play_position = #{bean.playPosition},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.finished != null">
				 finished = #{bean.finished},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_study_lesson_progress c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.nexora.entity.po.CourseStudyLessonProgress">
		 UPDATE course_study_lesson_progress
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.playPosition != null">
				 play_position = #{bean.playPosition},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.finished != null">
				 finished = #{bean.finished},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_study_lesson_progress where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_lesson_progress c where id=#{id}
	</select>

	<!-- 根据UserIdAndLessonId修改-->
	<update id="updateByUserIdAndLessonId" parameterType="com.nexora.entity.po.CourseStudyLessonProgress">
		 UPDATE course_study_lesson_progress
 		 <set> 
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.playPosition != null">
				 play_position = #{bean.playPosition},
			</if>
			<if test="bean.studyDuration != null">
				 study_duration = #{bean.studyDuration},
			</if>
			<if test="bean.finished != null">
				 finished = #{bean.finished},
			</if>
			<if test="bean.finishTime != null">
				 finish_time = #{bean.finishTime},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where user_id=#{userId} and lesson_id=#{lessonId}
	</update>

	<!-- 根据UserIdAndLessonId删除-->
	<delete id="deleteByUserIdAndLessonId">
		delete from course_study_lesson_progress where user_id=#{userId} and lesson_id=#{lessonId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserIdAndLessonId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_study_lesson_progress c where user_id=#{userId} and lesson_id=#{lessonId}
	</select>

</mapper>