<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexora.mappers.StudentLearningRecordMapper">

    <resultMap id="base_result_map" type="com.nexora.entity.po.StudentLearningRecord">
        <id column="record_id" property="recordId"/>
        <result column="user_id" property="userId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="course_id" property="courseId"/>
        <result column="lesson_id" property="lessonId"/>
        <result column="action_type" property="actionType"/>
        <result column="duration" property="duration"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="base_column_list">
        r.record_id,r.user_id,r.resource_id,r.course_id,r.lesson_id,
        r.action_type,r.duration,r.create_time
    </sql>

    <sql id="base_condition_filed">
        <if test="query.recordId != null">
            and r.record_id = #{query.recordId}
        </if>
        <if test="query.userId != null and query.userId!=''">
            and r.user_id = #{query.userId}
        </if>
        <if test="query.resourceId != null and query.resourceId!=''">
            and r.resource_id = #{query.resourceId}
        </if>
        <if test="query.courseId != null and query.courseId!=''">
            and r.course_id = #{query.courseId}
        </if>
        <if test="query.lessonId != null and query.lessonId!=''">
            and r.lesson_id = #{query.lessonId}
        </if>
        <if test="query.actionType != null and query.actionType!=''">
            and r.action_type = #{query.actionType}
        </if>
        <if test="query.duration != null">
            and r.duration = #{query.duration}
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        SELECT <include refid="base_column_list"/> FROM student_learning_record r
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM student_learning_record r
        <include refid="query_condition"/>
    </select>

    <insert id="insert" parameterType="com.nexora.entity.po.StudentLearningRecord" useGeneratedKeys="true" keyProperty="bean.recordId">
        INSERT INTO student_learning_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">user_id,</if>
            <if test="bean.resourceId != null">resource_id,</if>
            <if test="bean.courseId != null">course_id,</if>
            <if test="bean.lessonId != null">lesson_id,</if>
            <if test="bean.actionType != null">action_type,</if>
            <if test="bean.duration != null">duration,</if>
            <if test="bean.createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">#{bean.userId},</if>
            <if test="bean.resourceId!=null">#{bean.resourceId},</if>
            <if test="bean.courseId!=null">#{bean.courseId},</if>
            <if test="bean.lessonId!=null">#{bean.lessonId},</if>
            <if test="bean.actionType!=null">#{bean.actionType},</if>
            <if test="bean.duration!=null">#{bean.duration},</if>
            <if test="bean.createTime!=null">#{bean.createTime},</if>
        </trim>
    </insert>

    <insert id="insertOrUpdate" parameterType="com.nexora.entity.po.StudentLearningRecord">
        INSERT INTO student_learning_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.userId != null">user_id,</if>
            <if test="bean.resourceId != null">resource_id,</if>
            <if test="bean.courseId != null">course_id,</if>
            <if test="bean.lessonId != null">lesson_id,</if>
            <if test="bean.actionType != null">action_type,</if>
            <if test="bean.duration != null">duration,</if>
            <if test="bean.createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.userId!=null">#{bean.userId},</if>
            <if test="bean.resourceId!=null">#{bean.resourceId},</if>
            <if test="bean.courseId!=null">#{bean.courseId},</if>
            <if test="bean.lessonId!=null">#{bean.lessonId},</if>
            <if test="bean.actionType!=null">#{bean.actionType},</if>
            <if test="bean.duration!=null">#{bean.duration},</if>
            <if test="bean.createTime!=null">#{bean.createTime},</if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.duration!=null">duration = VALUES(duration),</if>
            <if test="bean.createTime!=null">create_time = VALUES(create_time),</if>
        </trim>
    </insert>

    <delete id="deleteByParam">
        DELETE FROM student_learning_record r
        <include refid="query_condition"/>
    </delete>
</mapper>